.error-page {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
h1.error {    font-size :400px !important; color: grey;     text-shadow: 10px 7px 18px silver; }