<div class="error-page">
    <h2>Oops!</h2>
    <h1 class="error"> 404 </h1>
    <h2>Not Found</h2>
    <div class="error-details">
        Sorry, an error has occured. Requested page not found!
    </div>
  
    
    
    <div class="error-actions">
        <a href="/" class="btn btn-info btn-bp btn-lg btn-action-borderless shadow"><span class="glyphicon glyphicon-home"></span>Take Me Home </a>
        <a href='mailto:kjenson@bpcs.com?subject=Question regarding Knowledge Assessment&cc=btugutov@bpcs.com' class="btn btn-lg btn-warning shadow btn-action-borderless" ><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
    </div>
</div>