<div *ngIf='quiz' class="grading_page">
    <div class='grading_page-title'>
        <h1 class="text-center ">Please grade provided submitted quiz <span class="text-monospace text-muted">{{quiz_name}}
        #{{submit_id}}</span>
        </h1>
        <div class="d-flex justify-content-center">
            <button *ngIf="release_status == 'no'" class="btn btn-warning btn-lg text-monospace grading_page-release_button justify-content-center shadow" (click)="release('ask')">Release</button>
            <button *ngIf="release_status == 'ask'" class="btn btn-warning btn-lg text-monospace grading_page-release_button shadow" (click)="release('yes')">Yes</button>
            <button *ngIf="release_status == 'ask'" class="btn btn-info btn-lg text-monospace grading_page-release_button shadow" (click)="release('no')">No</button>
        </div>
    </div>
    <div class='grading_page-body'>
        <table class="table table-striped table-borderless shadow">
            <thead class="thead-light">
                <tr>
                    <th class="border-0 text-uppercase small font-weight-bold text-center">Question</th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center">Image</th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center">Expected Answer</th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center">User's Answer</th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center">Points</th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center">Comment</th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center">Annotation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let q of quiz'>
                    <td>{{q.prompt}}</td>
                    <td>
                        <img *ngIf='q.base64' class='image_question img-fluid' src={{q.base64}} />
                    </td>
                    <td>{{q.expected_response}}</td>
                    <td>{{q.input_value}}</td>
                    <td style="width: 15%">
                        <div class="inline-radio">
                            <div *ngFor="let num of [0.0, 0.2, 0.4, 0.6, 0.8, 1.0]">
                                <input type="radio" (click)="scaleButton($event.target)" value="{{num}}" name="{{q.question_id}}"><label class="admin-radio-hover text-monospace">{{num * 100}}</label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <textarea class="ui-autocomplete-input" id="{{q.question_id}}" (input)="adminCommentInput($event.target)" value="" rows="2" maxlength="500" placeholder="Leave a comment" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" style="width:100%;"></textarea>
                        </div>
                    </td>
                    <td>
                        <p>{{q.training_module}} </p>
                        <a *ngIf="q.training_url" href="{{q.training_url}}" target='_blank'>Link</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <button *ngIf="!grading_done_bool" class='btn btn-lg btn-success grading_page-release_button text-monospace ' (click)="submitGrades()" [disabled]="!grading_done_bool">Please grade all answers.</button>
            <button *ngIf="grading_done_bool" class='btn btn-lg btn-success grading_page-release_button text-monospace shadow' (click)="submitGrades()" [disabled]="!grading_done_bool">Submit grades</button>
        </div>
    </div>
</div>
<div *ngIf='quiz == null' class=" loading_box ">
    <img class="loading_box-ing " src='./../../assets/loading.gif'>
</div>