<div style="min-height: 95vh; 
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: space-between;
            background: linear-gradient(to bottom, rgba(255,255,255, 1), rgb(229, 231, 218),rgb(229, 231, 218),rgb(229, 231, 218))">

  <div [hidden]="engagements" class=" loading_box element-animation-fadeIn" style=" margin-top: 100px;height: 300px;">
      <h2>Loading...</h2>
      <div class="spinner-border" role="status">
          <span class="sr-only"></span>
      </div>
  </div>

  <div [hidden]="!engagements" class="admin-quiz-permission element-animation-fadeIn" style="margin-bottom: 50px">
    <div [hidden]="!modal_mesage_bool" class="modal_message_box">
      <div class="modal-dialog modal-dialog-centered modal_message" role="document">
        <!-- CHANGE LIST -->
        <div class="modal-content modal-dialog-scrollable" *ngIf="modal_message.title == 'list_changes'">
          <div class="modal-header">
            <h3 class="modal-title  text-center" id="exampleModalCenteredLabel" style="margin: 0px auto;">List of
              changes
            </h3>
            <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div style="height: 50vh !important; overflow-y: scroll;">
            <table class="table table-borderless">
              <thead class="thead-dark shadow">
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Name and Footer Text</th>
                  <th class="text-center">Company Info</th>
                  <th class="text-center">Background</th>
                  <th class="text-center">Contacts</th>
                  <th class="text-center">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let eng of list_changes | keyvalue" [ngClass]="{'alert-success': eng.value.status=='new' }">
                  <th scope="row" class="">
                    <div style="display: flex;
                                            flex-direction: column;
                                            flex-wrap: nowrap;
                                            justify-content: flex-start;
                                            align-items: center;
                                            align-content: stretch;">
                      {{eng.key}}
                      <button class="btn-sm btn-xs btn-danger shadow "
                        (click)="undoChanges(eng.key, 'remove')">Cancel</button>
                    </div>
                  </th>
                  <!-- ENGAGEMENT NAME -->
                  <td>
                    <div class="text-sm-center" [ngClass]="{' alert alert-warning': eng.value.status=='existed' && eng.value.engagement_name != engagements_original[eng.key].engagement_name}">
                        Engagement name  
                      <span *ngIf="eng.value.status=='existed' && eng.value.engagement_name != engagements_original[eng.key].engagement_name">
                             <br>"{{engagements_original[eng.key].engagement_name}}"<br>
                            changed to <br></span> 
                        <span class=" font-weight-bold">"{{eng.value.engagement_name}}"</span>
                        <button *ngIf="eng.value.status=='existed' && eng.value.engagement_name != engagements_original[eng.key].engagement_name"
                            class="btn-sm btn-xs btn-danger shadow "
                            (click)="undoChanges(eng.key, 'engagement_name')">Undo</button>
                    </div>
                    <div class="text-sm-center " [ngClass]="{
                      'alert alert-warning': eng.value.status=='existed' && checkValues(engagements_original[eng.key].main_text, eng.value['main_text']),
                      'alert alert-success': eng.value.status=='new'
                    }">
                      <span *ngIf="eng.value.status=='existed' && checkValues(engagements_original[eng.key].main_text, eng.value['main_text'])">Footer text <br>"{{engagements_original[eng.key].main_text}}"<br>
                            changed to <br></span> <span *ngIf="eng.value.status=='existed' && checkValues(engagements_original[eng.key].main_text, eng.value['main_text'])" class="font-weight-bold">"{{eng.value.main_text}}"</span> <button
                            *ngIf="eng.value.status=='existed' && checkValues(engagements_original[eng.key].main_text, eng.value['main_text'])"
                            class="btn-sm btn-xs btn-danger shadow " (click)="undoChanges(eng.key, 'main_text')">Undo</button>
                      <span *ngIf="eng.value.status=='new'">Footer Text: <span class="font-weight-bold">"{{eng.value.main_text}}"</span></span>
                    </div>

                      
                  </td>
                  <!-- COMPANY INFO -->
                  <td>
                    <div class="text-sm-center">
                      <div class="alert-warning alert" *ngIf="eng.value.status=='existed' && checkKeyValueDiff(eng.key, 'company_name')">
                        Company's Name
                        <br>
                        "{{engagements_original[eng.key].company_name}}"
                        <br>
                        changed to <br>
                        <span class="font-weight-bold">"{{eng.value.company_name}}"</span>
                        <button class="btn-sm btn-xs btn-danger shadow " (click)="undoChanges(eng.key, 'company_name')">Undo</button>
                      </div>
                      <div class="'alert-success alert" *ngIf="eng.value.status=='new'"> 
                          Company's Name <br>
                          <span class="font-weight-bold">"{{eng.value.company_name}}"</span>
                      </div>
                    </div>
                    <div class="text-sm-center ">
                      <div class="alert-warning alert" *ngIf="eng.value.status=='existed' && checkKeyValueDiff(eng.key, 'company_address')">
                        Company's Address 
                        <br>
                        "{{engagements_original[eng.key].company_address}}"
                        <br>
                        changed to <br>
                        <span class="font-weight-bold">"{{eng.value.company_address}}"</span>
                        <button class="btn-sm btn-xs btn-danger shadow " (click)="undoChanges(eng.key, 'company_address')">Undo</button>
                      </div>
                      <div class="alert-success alert" *ngIf="eng.value.status=='new'"> 
                          Company's Address <br>
                          <span class="font-weight-bold">"{{eng.value.company_address}}"</span>
                      </div>
                    </div>
                    <div class="text-sm-center ">
                      <div class="alert-warning alert" *ngIf="eng.value.status=='existed' && checkKeyValueDiff(eng.key, 'company_phone_number')">
                        Company's Phone Number
                        <br>
                        "{{engagements_original[eng.key].company_phone_number}}"
                        <br>
                        changed to <br>
                        <span class="font-weight-bold">"{{eng.value.company_phone_number}}"</span>
                        <button class="btn-sm btn-xs btn-danger shadow " (click)="undoChanges(eng.key, 'company_phone_number')">Undo</button>
                      </div>
                      <div class="alert-success alert" *ngIf="eng.value.status=='new'">
                        Company's Address <br>
                        <span class="font-weight-bold">"{{eng.value.company_phone_number}}"</span>
                      </div>
                    </div>
                  
                  </td>
                  <!-- BACKGROUND -->
                  <td [ngClass]="{
                                            'alert alert-warning': (eng.value.status=='existed' && (engagements_original[eng.key].background != eng.value['background']))
                                          }">
                    <div
                      *ngIf="eng.value.status=='existed' && eng.value['background'] && engagements_original[eng.key].background != eng.value['background']"
                      style="position: relative">
                      <img src="{{eng.value['background']}}" class="img-fluid" alt="Responsive image">
                      <button class="btn btn-sm btn-danger btn-image-remove" [disabled]="eng.value.soft_delete"
                        (click)="undoChangess(eng.key, 'background')">x</button>
                    </div>
                    <div
                      *ngIf="eng.value.status=='existed' && !eng.value['background'] && engagements_original[eng.key].background"
                      class="default-background" style="position: relative">
                      <!-- <img src="{{eng.value['background']}}" class="img-fluid default-background" alt="Responsive image"> -->
                      <button class="btn btn-sm btn-danger btn-image-remove" [disabled]="eng.value.soft_delete"
                        (click)="undoChangess(eng.key, 'background')">x</button>
                    </div>
                    <div *ngIf="eng.value.status=='new' && eng.value['background']" style="position: relative">
                      <img src="{{eng.value['background']}}" class="img-fluid" alt="Responsive image">
                    </div>
                    <div *ngIf="eng.value.status=='new' && !eng.value['background']" class="default-background"
                      style="position: relative">
                    </div>

                  </td>
                  <!-- CONTACTS -->
                  <td>
                      <div class="text-sm-center">
                        <div *ngFor="let el of eng.value.contacts | keyvalue">
                          <span *ngIf="engagements_original[eng.key] && engagements_original[eng.key]['contacts'][el.key]">
                            <div *ngIf="engagements_original[eng.key]['contacts'][el.key].full_name != el.value.full_name"  class="alert alert-warning">
                              {{engagements_original[eng.key]['contacts'][el.key].full_name}} changed name to <span class="font-weight-bold">{{el.value.full_name}}</span>
                            </div>
                            <div *ngIf="engagements_original[eng.key]['contacts'][el.key].email != el.value.email"  class="alert alert-warning">
                              {{el.value.full_name}}'s email {{engagements_original[eng.key]['contacts'][el.key].email}} updated to <span class="font-weight-bold">{{el.value.email}}</span>
                            </div>
                            <div *ngIf="el.value.soft_delete"  class="alert alert-warning">
                              {{el.value.full_name}} will be <span class="font-weight-bold">removed</span> from the list.
                            </div>
                          </span>
                          <div *ngIf="!engagements_original[eng.key] || !engagements_original[eng.key]['contacts'][el.key]" class="alert alert-success">
                            New contact: {{el.value.full_name}} {{el.value.email}}
                          </div>
                        </div>
                      </div>
                  </td>
                  <!-- STATUS -->
                  <td [ngClass]="{'alert alert-warning': (eng.value.status=='existed' && (engagements_original[eng.key].soft_delete != eng.value.soft_delete))}">
                    <p class="text-sm-center font-weight-bold">
                      
                      <span *ngIf="eng.value.status=='existed' && !eng.value.soft_delete && engagements_original[eng.key].soft_delete">Enabled
                        <button class="btn-sm btn-xs btn-danger shadow "
                          (click)="undoChanges(eng.key, 'soft_delete')">Undo</button></span>
                      <span
                        *ngIf="eng.value.status=='existed' && eng.value.soft_delete && !engagements_original[eng.key].soft_delete">Disabled
                        <button class="btn-sm btn-xs btn-danger shadow "
                          (click)="undoChanges(eng.key, 'soft_delete')">Undo</button></span>
                      <span *ngIf="eng.value.status=='new'">New </span>
                    </p>
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
          <div class="team_control_panel">
            <div style="height: 50px; margin-top: 25px;">
              <button type="button" (click)="submitChanges()" class="btn btn-success  btn-action-borderless shadow"
                style="margin: 0px 20px">Submit changes</button>
              <button type="button" (click)="undoChangesAll()" class="btn btn-danger  btn-action-borderless shadow"
                style="margin: 0px 20px">Cancel All</button>
              <button type="button" (click)="closeModal()" class="btn btn-warning  btn-action-borderless shadow"
                style="margin: 0px 20px">Close</button>
            </div>
          </div>
        </div>
        <!-- MESSAGE -->
        <div class="modal-content modal-dialog-scrollable shadow" *ngIf="modal_message.title == 'message'">
          <div class="alert alert-success text-center" style="margin-bottom: 0px" role="alert"
            *ngIf="modal_message.body == 'success'">
            <h4 class="alert-heading text-center">Well done!</h4>
            <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p>Your changes have been saved!</p>
            <button class="btn btn-primary btn-action-borderless shadow"
              [routerLink]="['/',currentEng_id, 'admin']">Click
              here to go back to the admin portal</button>
          </div>
          <div class="alert alert-danger text-center" style="margin-bottom: 0px" role="alert"
            *ngIf="modal_message.body == 'fail'">
            <h4 class="alert-heading text-center">Oops!</h4>
            <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <p>Something went wrong. Please try again later or contact developers.</p>
            <button class="btn btn-primary btn-action-borderless shadow"
              [routerLink]="['/',currentEng_id, 'admin']">Click
              here to go back to the admin portal</button>
          </div>
        </div>
        <!-- COUNTER -->
        <div class="modal-content modal-dialog-scrollable shadow" *ngIf="modal_message.title == 'counter'">
          <div class="alert alert-success text-center" style="margin-bottom: 0px" role="alert">

            <p>Saving changes {{modal_message.counter_start }} of {{modal_message.counter_end }}</p>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                [attr.aria-valuenow]="modal_message.counter_start" [attr.aria-valuemin]="0"
                [attr.aria-valuemax]="modal_message.counter_end"
                [style.width.%]="( (modal_message.counter_start/modal_message.counter_end) * 100)"></div>
            </div>
          </div>
        </div>
        <!-- EDIT CONTACTS -->
        <div class="modal-content modal-dialog-scrollable" *ngIf="modal_message.title == 'edit_contacts'">
            <div class="modal-header">
              <h3 class="modal-title  text-center" id="exampleModalCenteredLabel" style="margin: 0px auto;">Edit contacts ({{engagements[modal_message.body]['contact_length']}} total)</h3>
              <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div style="overflow-y: scroll; height:500px;">
              <table class="table table-borderless" style="width: 100%;
              max-width: 700px;
              margin: 0px auto;
              box-shadow: 1px 1px 15px silver;">
                <thead class="thead-dark shadow">
                  <tr>
                    <th>Full name</th>
                    <th>Email</th>
                    <th style="width: 110px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contact of engagements[modal_message.body]['contacts'] | keyvalue" [ngClass]="{
                    'alert-secondary': contact.value.soft_delete
                  }">
                    <td >
                      <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px; padding: 5px 5px;">
                        <input type="text" [disabled]='contact.value.soft_delete' class="form-control input_border-0-radius" 
                          (input)="edit_contact(contact.value.contact_id, modal_message.body, 'full_name', $event.target.value)" 
                          value="{{contact.value.full_name}}">
                      </div>
                    </td>
                    <td>
                      <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px; padding: 5px 5px;">
                        <input type="text" [disabled]='contact.value.soft_delete'  class="form-control input_border-0-radius" 
                          (input)="edit_contact(contact.value.contact_id, modal_message.body, 'email', $event.target.value)"
                          value="{{contact.value.email}}">
                      </div>
                    </td>
                    <td style="vertical-align: middle">
                      <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px; padding: 5px 5px;">
                        <button *ngIf="!contact.value.soft_delete" (click)="soft_delete_contact(contact.value.contact_id, modal_message.body)" 
                          class='btn btn-sm btn-outline-danger btn-action-borderless' style="width: 100px">Remove</button>
                        <button *ngIf="contact.value.soft_delete" (click)="soft_delete_contact(contact.value.contact_id, modal_message.body)"
                          class='btn btn-sm btn-warning btn-action-borderless' style="width: 100px">Restore</button>
                      </div>
                    </td>
                  </tr>
                  <tr class="alert-success">
                      <td >
                          <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px; padding: 5px 5px;">
                            <input type="text" class="form-control input_border-0-radius" value="{{engagements[modal_message.body]['new_contact']['full_name']}}" (input)="edit_contact('new', modal_message.body, 'full_name', $event.target.value)">
                          </div>
                        </td>
                        <td>
                          <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px; padding: 5px 5px;">
                            <input type="text" class="form-control input_border-0-radius" value="{{engagements[modal_message.body]['new_contact']['email']}}" (input)="edit_contact('new', modal_message.body, 'email', $event.target.value)">
                          </div>
                        </td>
                        <td style="vertical-align: middle">
                          <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px; padding: 5px 5px;">
                            <button [disabled]="engagements[modal_message.body]['new_contact']['email'].length < 3 || engagements[modal_message.body]['new_contact']['full_name'].length < 3" class='btn btn-sm btn-success btn-action-borderless'
                             (click)="add_new_contact(modal_message.body)" style="width: 100px">Add</button>
                          </div>
                        </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="team_control_panel">
              <div style="height: 50px; margin-top: 25px;">
                <!-- <button type="button" (click)="submitChanges()" class="btn btn-success  btn-action-borderless shadow"
                  style="margin: 0px 20px">Change</button> -->
                <button type="button" (click)="contacts_cancel_all_changes(modal_message.body)" class="btn btn-danger  btn-action-borderless shadow"
                  style="margin: 0px 20px">Cancel all changes</button>
                <button type="button" (click)="closeModal()" class="btn btn-warning  btn-action-borderless shadow"
                  style="margin: 0px 20px">Close</button>
              </div>
            </div>
          </div>

      </div>
    </div>
    <div class="admin-quiz-permission-title">
      <h1>Engagement Editor</h1>
      <button [hidden]="errors_length > 0" class="btn btn-success btn-action-borderless btn-lg shadow"
        (click)="checkChanges()">Check Changes</button>
      <button [hidden]="errors_length == 0" class="btn btn-danger btn-action-borderless btn-lg shadow" disabled>Please
        fix
        errors bellow</button>





      <div class="admin-quiz-permission-table_box" style="padding-top: 25px">
        
        <table class="table table-borderless shadow-lg" style="width: 1000px;">
          <thead class="thead-dark shadow-lg">
            <tr>
              <th>ID</th>
              <th>Engagement</th>
              <th>Company</th>
              <th>Categories and topics</th>
              <th>Background</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody id="table_body_target" style="background: white">
            <tr style="border-top: none !important" *ngFor="let eng of engagements | keyvalue" [ngClass]="{
                              'alert-secondary': eng.value.soft_delete,
                              'element-animation-fadeIn': last_added == eng.key,
                              'alert-info': eng.key == 'new' && eng.value.status == 'new',
                              'alert-success': eng.key != 'new' && eng.value.status == 'new'
                            }">
              <th *ngIf="!eng.value['error_bool']" scope="row" class="font-weight-bold  text-center  tr_string">
                {{eng.key}}</th>
              <td *ngIf="!eng.value['error_bool']" class="tr_string">
                  <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px;">
                      <label for="engagement_name_{{eng.value.engagement_id}}" style="margin-bottom: 0px; font-size: smaller;" class="text-secondary">Engagement name:</label>
                      <input id="engagement_name_{{eng.value.engagement_id}}" class="form-control input_border-0-radius" type="text" [disabled]="eng.value.soft_delete" placeholder="" minlength="2"
                      (change)="inputChanger(eng.key, 'engagement_name', $event.target)"
                      value='{{eng.value.engagement_name}}'>
                  </div>
                  <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px;">
                      <label for="engagement_text_{{eng.value.engagement_id}}" style="margin-bottom: 0px; font-size: smaller;" class="text-secondary">Footer text</label>
                      <input id="engagement_text_{{eng.value.engagement_id}}" class="form-control input_border-0-radius" type="text" [disabled]="eng.value.soft_delete" placeholder="" minlength="2"
                      (change)="inputChanger(eng.key, 'main_text', $event.target)"
                      value='{{eng.value.main_text}}'>
                  </div>
                  <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px;">
                      <label for="engagement_contact_{{eng.value.engagement_id}}" style="margin-bottom: 0px; font-size: smaller;" class="text-secondary">Support/Assistance</label>
                      <button id="engagement_contact_{{eng.value.engagement_id}}" (click)="edit_contacts(eng.value.engagement_id)" class="form-control btn btn-secondary btn-action-borderless" [disabled]="eng.value.soft_delete || eng.key == 'new'">
                        {{eng.value.contact_length}} contact<span *ngIf="eng.value.contact_length != 1">s</span>
                      </button>
                  </div>
              </td>
              <td *ngIf="!eng.value['error_bool']" class="tr_string">
                <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px;">
                    <label for="company_name_{{eng.value.engagement_id}}" style="margin-bottom: 0px; font-size: smaller;" class="text-secondary">Company name:</label>
                    <input id="company_name_{{eng.value.engagement_id}}" class="form-control input_border-0-radius" type="text" [disabled]="eng.value.soft_delete" placeholder="" minlength="2"
                      (change)="inputChanger(eng.key, 'company_name', $event.target)"
                      value='{{eng.value.company_name}}'>
                </div>
                <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px;">
                    <label for="company_address_{{eng.value.engagement_id}}" style="margin-bottom: 0px; font-size: smaller;" class="text-secondary">Address:</label>
                    <input id="company_address_{{eng.value.engagement_id}}" class="form-control input_border-0-radius" type="text" [disabled]="eng.value.soft_delete" placeholder="" minlength="2"
                    (change)="inputChanger(eng.key, 'company_address', $event.target)"
                    value='{{eng.value.company_address}}'>
                </div>
                <div class="form-group" style="margin-bottom: 1px; margin: 0px 2px;">
                    <label for="company_phone_{{eng.value.engagement_id}}" style="margin-bottom: 0px; font-size: smaller;" class="text-secondary">Phone number:</label>
                    <input id="company_phone_{{eng.value.engagement_id}}" class="form-control input_border-0-radius" type="text" [disabled]="eng.value.soft_delete" placeholder="" minlength="2"
                    (change)="inputChanger(eng.key, 'company_phone_number', $event.target)"
                    value='{{eng.value.company_phone_number}}'>
                </div>
              </td>
              <td *ngIf="!eng.value['error_bool']">
                <div class="wrap-collabsible">
                  <input id="collapsible_{{eng.value.engagement_name}}" [ngClass]="{'toggle': eng.value.topics_total_length > 0, 'text-center': eng.value.topics_total_length == 0}" type="checkbox">
                  <label for="collapsible_{{eng.value.engagement_name}}"
                    class="lbl-toggle">
                    <span *ngIf="eng.value.users_total_length>0">{{eng.value.users_total_length}} user<span *ngIf="eng.value.users_total_length != 1">s</span>,</span>
                    <span *ngIf="eng.value.categories_length>0"> {{eng.value.categories_length}} categor<span *ngIf="eng.value.categories_length == 1">y</span><span *ngIf="eng.value.categories_length != 1">ies</span></span> 
                    <span *ngIf="eng.value.topics_total_length>0">, and {{eng.value.topics_total_length}} topic<span *ngIf="eng.value.topics_total_length!=1">s</span></span>
                    <span *ngIf="eng.value.topics_total_length == 0">No topics and categories</span>

                  </label>
                  <div class="collapsible-content shadow" *ngIf="eng.value.topics_total_length>0">
                    <div class="content-inner">
                      <div class="wrap-collabsible" *ngFor="let cat of eng.value.categories | keyvalue">
                        <input id="collapsible_{{eng.value.engagement_name}}_{{cat.key}}" class="toggle"
                          type="checkbox">
                        <label for="collapsible_{{eng.value.engagement_name}}_{{cat.key}}" class="lbl-toggle">
                          <span *ngIf="cat.value.topics_length > 0">{{cat.key}} ({{cat.value.topics_length}} topic<span *ngIf="cat.value.topics_length != 1">s</span>)</span>
                          <span *ngIf="cat.value.topics_length < 1">No topics</span>
                        </label>
                        <div class="collapsible-content shadow">
                          <div class="content-inner ">
                            <p class=" small" [ngClass]="{
                                                        'alert-danger': topic.value.topic_soft_delete
                                                      }" style="margin-bottom: 0px;"
                              *ngFor="let topic of cat.value.topics | keyvalue"><a target="_blank"
                                [routerLink]="topic.value.link"> #{{topic.value.topic_id}} {{topic.value.name}}
                                ({{topic.value.users_length}} users have access)</a></p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </td>
              <td *ngIf="!eng.value['error_bool']">
                <div *ngIf="eng.value['background'] && eng.value['background'] != 'null'" style="position: relative">
                  <img src="{{eng.value['background']}}" class="img-fluid" alt="Responsive image">
                  <button class="btn btn-sm btn-outline-danger btn-image-remove shadow"
                    [disabled]="eng.value.soft_delete" (click)="removeImg(eng.key)">x</button>
                </div>
                <div *ngIf="!eng.value['background'] || eng.value['background'] == 'null'" class="default-background"
                  style="position: relative">
                  <!-- <img src="{{eng.value['background']}}" class="img-fluid default-background" alt="Responsive image"> -->
                  <!-- <button class="btn btn-sm btn-outline-danger btn-image-remove" [disabled]="eng.value.soft_delete" (click)="removeImg(eng.key)">x</button> -->
                </div>
                <div>
                  <label for="file-upload{{eng.key}}" style="width: 100%;"
                    class="custom-file-upload btn btn-sm btn-outline-secondary btn-action-borderless">
                    &#8682; Upload Picture
                  </label>
                  <input id="file-upload{{eng.key}}" type="file" [disabled]="eng.value.soft_delete"
                    (change)="addBackground(eng.key, $event.target.files)" accept="image/*" />
                </div>
              </td>
              <td *ngIf="!eng.value['error_bool']" align="center" class="tr_string">
                <div class="switchToggle" *ngIf="eng.value.status == 'existed' && eng.key != 'new'">
                  <input type="checkbox" id="soft_delete_{{eng.key}}"
                    (click)="actionButton(eng.key,'soft_delete', null)" [checked]='!eng.value.soft_delete'>
                  <label for="soft_delete_{{eng.key}}" [ngClass]="{
                                        'shadow': true,
                                        'switchToggle_checked_green': engagements_original[eng.key]['soft_delete'] && !eng.value.soft_delete,
                                        'switchToggle_checked_red': !engagements_original[eng.key]['soft_delete'] && eng.value.soft_delete
                                      }"></label>
                </div>
                <div class="switchToggle" *ngIf="eng.value.status == 'new' && eng.key == 'new'">
                  <button class='btn btn-success btn-action-borderless shadow' (click)="addEng()" [disabled]="engagements['new']['engagement_name'].length < 2">Add</button>
                </div>
                <div class="switchToggle" *ngIf="eng.value.status == 'new' && eng.key != 'new'">
                  <button class='btn btn-danger btn-action-borderless' (click)="deleteEng(eng.key)">Delete</button>
                </div>
              </td>
              <td colspan="7" *ngIf="eng.value['error_bool']" style="padding: 10px 10px !important" [ngClass]="{
                'alert-info': eng.value['target'] == 'New question form'
              }">{{eng.key}}
                <div class="alert alert-warning shadow" role="alert" style="width: 500px; margin: 0px auto;">
                  <p class="text-center "><strong>#{{eng.value['target']}} has error(s):</strong></p>
                  <p *ngFor="let error of eng.value['errors'] | keyvalue" class="text-center"
                    style="margin-bottom: 0px !important">{{error.value}}</p>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
        <button [hidden]="errors_length > 0" class="btn btn-success btn-action-borderless btn-lg shadow"
            (click)="checkChanges()">Check Changes</button>
      </div>
    </div>
  </div>
  <div
    style="background: url(/assets/footer_background.png); background-position: top 0px right 0px !important; background-repeat: no-repeat !important; background-size: cover !important; width: 100%">
    <div class="index_row  " style="display: flex;
                                                            flex-direction: column;
                                                            flex-wrap: nowrap;
                                                            justify-content: center;
                                                            align-items: center;
                                                            align-content: space-between;">
      <div class="col-md-4 col-12 px-2" style="justify-content: center;">
        <div class="text-center">
          <h4 style="color: #4f91cd;">Skill Assessment Tool</h4>
        </div>
      </div>
      <div *ngIf="currentEng" class="col-md-4 col-12 px-2">
        <div class="text-center">
            <p class="mt-3">{{currentEng.main_text}}</p>
            <p *ngFor="let contact of currentEng.contacts | keyvalue"><a class="mt-3" href="mailto:{{contact.value.email}}?subject=Question regarding Skill Assessment"
                    style="color: #4f91cd; cursor: pointer;">{{contact.value.full_name}}</a></p>
        </div>
    </div>
    <div *ngIf="currentEng" class="col-md-4 col-12 px-2" style="margin: 5px">
        <div class="text-center  bp-box shadow">
            <h4 class="mt-3" style="color: #4f91cd; text-shadow: 0px 0px 1px silver;">{{currentEng.company_name}}</h4>
            <h5 class="mt-3" style="color: #4f91cd; text-shadow: 0px 0px 1px silver;">{{currentEng.company_address}}</h5>
            <h5 class="mt-3" style="color: #4f91cd; text-shadow: 0px 0px 1px silver;">{{currentEng.company_phone_number}}</h5>
        </div>
    </div>
    </div>
  </div>
</div>