<div class="logevent_main">
    <div [hidden]="!modal_mesage_bool" class="modal_message_box">
        <div class="modal-dialog modal-dialog-centered modal_message" role="document">
            <div class="modal-content modal-dialog-scrollable" *ngIf="modal_message.title == 'Details'">
                <div class="modal-header">
                    <h3 class="modal-title  text-center" id="exampleModalCenteredLabel" style="margin: 0px auto;">Details for {{modal_message.body.log_id}}</h3>
                    <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div style="height: 50vh !important; overflow-y: scroll;" class="text-break">
                    {{ modal_message.body | json}}
                  </div>
                  <div class="team_control_panel">
                      <div style="height: 50px; margin-top: 25px;">
                        <button type="button" (click)="closeModal()"  class="btn btn-warning  btn-action-borderless shadow"  style="margin: 0px 20px">Close</button>
                      </div>
                  </div>
            </div>
        </div>
    </div>
  <div class="text-center">
    <h1>Event Log Page</h1>
    <div class="spinner-border" *ngIf="!first_request_status" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <h3 *ngIf="first_request_status">{{ids.length}} entries</h3>
    <!-- <div *ngIf="first_request_status" class="progress" style="width: 95%; border-radius: 0px;">
        <div *ngFor="let el of levels_counter | keyvalue" class="progress-bar level_counter_get_class()" [ngClass]="{
            'bg-info': el.key =='INFO',
            'bg-warning': el.key == 'WARNING',
            'bg-danger': el.key == 'ERROR',
            'bg-secondary': el.key == 'DEBUG',
            'bg-success': el.key == 'TESTING'
          }" [style.width.%]="el.value.percentage" role="progressbar" aria-valuenow="15" aria-valuemin="0"
          aria-valuemax="100"> {{el.key}}</div>
  
    </div> -->
    <div *ngIf="first_request_status">
      <span *ngFor="let el of levels_counter | keyvalue">
        <button class="btn">{{el.key}}: {{el.value.length}} (~{{el.value.percentage}}%)</button>
      </span>
    </div>
  </div>
  <!-- <div *ngIf="first_request_status" class="progress" style="width: 95%; border-radius: 0px;">
      <div *ngFor="let el of levels_counter | keyvalue" class="progress-bar level_counter_get_class()" [ngClass]="{
          'bg-info': el.key =='INFO',
          'bg-warning': el.key == 'WARNING',
          'bg-danger': el.key == 'ERROR',
          'bg-secondary': el.key == 'DEBUG',
          'bg-success': el.key == 'TESTING'
        }" [style.width.%]="el.value.percentage" role="progressbar" aria-valuenow="15" aria-valuemin="0"
        aria-valuemax="100"> {{el.key}}</div>

  </div> -->
    <nav aria-label="..." *ngIf="first_request_status" style="margin: auto 0px">
      <ul class="pagination ">
        <li class="page-item" [ngClass]="{'disabled': current_page < 2}">
          <button class="btn btn-outline-secondary btn-action-borderless" (click)="changePage(1)" [disabled]="current_page < 2"> <<
             </button> </li> 
        <li class="page-item" (click)="changePage(current_page - 2)" [hidden]="current_page-2<1">
              <button class="btn btn-outline-secondary btn-action-borderless">{{current_page - 2}}</button></li>
        <li class="page-item" (click)="changePage(current_page - 1)" [hidden]="current_page<2"><button
            class="btn btn-outline-secondary btn-action-borderless">{{current_page - 1}}</button></li>
        <li class="page-item active">
          <button class="btn btn-dark btn-action-borderless shadow">{{current_page}}</button>
        </li>
        <li class="page-item" (click)="changePage(current_page + 1)" [hidden]="current_page+1 > pages"><button
            class="btn btn-outline-secondary btn-action-borderless">{{current_page + 1}}</button></li>
        <li class="page-item" (click)="changePage(current_page + 2)" [hidden]="current_page+2  > pages"><button
            class="btn btn-outline-secondary btn-action-borderless">{{current_page + 2}}</button></li>
        <li class="page-item" [ngClass]="{'disabled': current_page == pages}">
          <button class="btn btn-outline-secondary btn-action-borderless" (click)="changePage(pages)"> >> </button>
        </li>
      </ul>
    </nav>
    <!-- {{cur_num}}/{{end_num}} -->

    <div class="progress shadow"  *ngIf="first_request_status" style="width: 95%; border-radius: 0px;">
        <div class="progress-bar shadow " role="progressbar" style="height: 35px;" [style.width.%]="( (cur_num/end_num) * 100)"  style="transition: width .1s ease; background-color: #4f91cd">{{cur_num}}/{{end_num}}</div>
      </div>
    <table class="table table-borderless shadow" style="width: 95%" *ngIf="first_request_status">
      <thead class="thead-dark shadow">
        <tr>
          <th style="width: 120px;">Event ID</th>
          <th style="width: 100px;">Level</th>
          <th>Content</th>
          <th>Host</th>
          <th>Line</th>
          <th>Details</th>
          <th>Submit by</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of logs; let i = index" [ngClass]="{
        'alert-warning': ready[el.log_id] && el.log_level == 'WARNING',
        'alert-danger': ready[el.log_id] && el.log_level == 'ERROR'
      }">
          <td *ngIf="!ready[el.log_id]" colspan="7">
            <div class="alert alert-warning text-center">Loading</div>
          </td>
          <th scope="row" *ngIf="ready[el.log_id]" class="">{{el.log_id}}</th>
          <td *ngIf="ready[el.log_id]">
            <h4>
              <span class="badge badge-info shadow" *ngIf="el.log_level == 'INFO' ">INFO</span>
              <span class="badge badge-warning shadow" *ngIf="el.log_level == 'WARNING' ">WARNING</span>
              <span class="badge badge-danger shadow" *ngIf="el.log_level == 'ERROR' ">ERROR</span>
              <span class="badge badge-secondary shadow" *ngIf="el.log_level == 'DEBUG' ">DEBUG</span>
              <span class="badge badge-primary shadow" *ngIf="el.log_level != 'ERROR' && el.log_level != 'WARNING'  && el.log_level != 'INFO'  && el.log_level != 'DEBUG'">{{el.log_level}}</span>
            </h4>
            </td>
          <td *ngIf="ready[el.log_id] " class="text-break">
            <span *ngIf="!highlights[el.log_id]">
              {{el.log_event}}
            </span>
            <span *ngIf="highlights[el.log_id] && highlights[el.log_id]['submit_id']" class="alert-info shadow">
              {{highlights[el.log_id]['submit_id'][0]}}
            </span>
            <span *ngIf="highlights[el.log_id] && highlights[el.log_id]['submit_id']">
              {{highlights[el.log_id]['submit_id'][1]}}
            </span>
            </td>
          <td *ngIf="ready[el.log_id]" class="text-break">{{el.host}}</td>
          <td *ngIf="ready[el.log_id]" class="text-break">{{el.line_number}}</td>
          <td *ngIf="ready[el.log_id]"><button class="btn btn-secondary btn-action-borderless shadow" (click)="openModal('Details', el)">Check details</button></td>
          <td *ngIf="ready[el.log_id]" class="text-break">{{el.user_id}}</td>
          <td *ngIf="ready[el.log_id]" class="text-break">{{el.event_time | date:'medium'}}</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="..." *ngIf="first_request_status" style="margin: auto 0px">
        <ul class="pagination ">
          <li class="page-item" [ngClass]="{'disabled': current_page < 2}">
            <button class="btn btn-outline-secondary btn-action-borderless" (click)="changePage(1)" [disabled]="current_page < 2"> <<
               </button> </li> 
          <li class="page-item" (click)="changePage(current_page - 2)" [hidden]="current_page-2<1">
                <button class="btn btn-outline-secondary btn-action-borderless">{{current_page - 2}}</button></li>
          <li class="page-item" (click)="changePage(current_page - 1)" [hidden]="current_page<2"><button
              class="btn btn-outline-secondary btn-action-borderless">{{current_page - 1}}</button></li>
          <li class="page-item active">
            <button class="btn btn-dark btn-action-borderless shadow">{{current_page}}</button>
          </li>
          <li class="page-item" (click)="changePage(current_page + 1)" [hidden]="current_page+1 > pages"><button
              class="btn btn-outline-secondary btn-action-borderless">{{current_page + 1}}</button></li>
          <li class="page-item" (click)="changePage(current_page + 2)" [hidden]="current_page+2  > pages"><button
              class="btn btn-outline-secondary btn-action-borderless">{{current_page + 2}}</button></li>
          <li class="page-item" [ngClass]="{'disabled': current_page == pages}">
            <button class="btn btn-outline-secondary btn-action-borderless" (click)="changePage(pages)"> >> </button>
          </li>
        </ul>
      </nav>
</div>