<div class="container box">
    <section class="footer__col footer__col--next">
        <div class="row">
            <div class="col-lg-12 h-100 d-flex align-item-center justify-content-center text-monospace">
                <a href="/about" class="footer__btn" data-footer-link="2">
                    <span>Next: About</span>
                    <div class="footer__btn-line">
                        <div class="footer__btn-line-inner"></div>
                    </div>
                </a>
                <a href="/about" class="footer__btn" data-footer-link="2">
                    <span>Next: About</span>
                    <div class="footer__btn-line">
                        <div class="footer__btn-line-inner"></div>
                    </div>
                </a>
                <a href="/about" class="footer__btn-green" data-footer-link="2">
                    <span>Next</span>
                    <div class="footer__btn-green-line">
                        <div class="footer__btn-green-line-inner"></div>
                    </div>
                </a>
                <a href="/about" class="footer__btn" data-footer-link="2">
                    <span>Next: About</span>
                    <div class="footer__btn-line">
                        <div class="footer__btn-line-inner"></div>
                    </div>
                </a>
                <a href="/about" class="footer__btn" data-footer-link="2">
                    <span>Next: About</span>
                    <div class="footer__btn-line">
                        <div class="footer__btn-line-inner"></div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>