<div class="column_list element-animation-fadeIn" id="body_fadeOut">
    <div *ngIf='popup_message' class="d-flex justify-content-center popup_message_slideIn">
        <div *ngIf='popup_message.success' class="alert alert-success" role="alert">
            <strong>Well done!</strong> {{popup_message.message}}
        </div>
        <div *ngIf='!popup_message.success' class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Oops! Please contact admin or developers!</h4> {{popup_message.message | json}}
        </div>
    </div>
    <div style="display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: center; align-items: stretch; align-content: center; height: 10%;">
        <h1 style="margin: 0px auto">Choose a category and topic to grade</h1>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-warning text-monospace button_hover_expand" *ngIf="your_list_length>1" id="release_all" style="border-radius: 0px; width: 250px" (click)="releaseAllSubmittedQuiz()">Release all {{your_list_length}} quizzes</button>
        <button class="btn btn-warning text-monospace button_hover_expand" *ngIf="your_list_length==1" id="release_all" style="border-radius: 0px; width: 250px" (click)="releaseOneSubmittedQuiz()">Release the current quiz</button>
        <button class=" btn btn-warning text-monospace button_hover_expand " *ngIf="your_list_length<1 " id="release_all " style="border-radius: 0px; width: 250px " disabled>No current quizzes</button>
    </div>
    <div class="grade-home-main " id="grade-home-main ">
        <div *ngFor="let c of quizzes | keyvalue " class="home-category " style="box-shadow: 12px 12px 16px silver; ">
            <div class="home-category-title ">
                <h3>{{c.key}}</h3>
            </div>
            <div *ngFor="let t of c.value | keyvalue " class="home-category-element ">
                <div *ngIf="your_list[links[t.key][ 'topic_id']] " style="width:100%" align='center'>
                    <span> <span unselectable="on " class="font-weight-bolder "> {{t.key}}</span> <span class="text-black-10 text-monospace ">  #{{your_list[links[t.key]['topic_id']]['submit_id']}}</span></span>
                    <div class="home-category-element-inner-box ">
                        <button class="btn btn-outline-info btn-sm text-monospace " style="border: none " [routerLink]="[your_list[links[t.key][ 'topic_id']][ 'continue_link']] ">Continue</button>
                        <button class="btn btn-outline-warning btn-sm text-monospace " style="border: none " (click)="releaseQuiz(your_list[links[t.key][ 'topic_id']][ 'submit_id'], links[t.key][ 'topic_id']) ">Release</button>
                    </div>
                </div>
                <a *ngIf="your_list[links[t.key][ 'topic_id']]==n ull " [routerLink]="[links[t.key][ 'topic_link']] ">
                    <button type="button " class="btn btn-outline-secondary ">{{t.key}}
                        ({{  quizzes_counter[links[t.key]['topic_id']] }})
                        {{your_list[links[t.key]['topic_id']]}}</button>
                </a>
            </div>
        </div>
    </div>
</div>