<!--The content below is only a placeholder and can be replaced.-->
<div class="container" id="singIngBox" *ngIf="!user_obj">
    <div class="leftContainer">
        <h1>Please Sign in</h1>
        <button id="SignIn" class='btn btn-outline-success' type="button" (click)="signIn()">Sign In</button>
    </div>
    <div class="rightContainer">
        <pre id="json"></pre>
    </div>
</div>
<button (click)='getOSInfo()' class='btn btn-outline-primary' type="button">Get backendInfo</button>
<router-outlet></router-outlet>