<div style="min-height: 95vh; 
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: space-between;
            background: #e5e7da">
    <div class="admin-create-quiz" *ngIf="currentUser && engagements">
        <div [hidden]="!modal_mesage_bool" class="modal_message_box"
            (click)="closeModal_background_click($event.target)" id="modal_message_box">
            <div class="modal-dialog modal-dialog-centered modal_message" role="document" [ngClass]="{
                            'modal-width-full': modal_message.title == 'Image'
                        }">
                <!-- EDIT/REMOVE BUCKET LIST -->
                <div class="modal-content shadow-lg" *ngIf="modal_message.title == 'Bucket editor'">
                    <div>
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenteredLabel">{{modal_message.title}}</h5>
                            <button type="button" class="close" (click)="bucketListEditorClose()" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body modal-edit-remove-bucket" style="padding: 0px 1rem">
                            <table [hidden]="bucket_list_confirm_bool" class="table table-borderless table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th>Bucket Title</th>
                                        <th class="text-center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let b of bucket_list | keyvalue" [ngClass]="{
                                                        'alert-danger': b.value.soft_delete
                                                    }">
                                        <th class="" scope="row">{{b.value.bucket_id}}</th>
                                        <td>
                                            <input type="text" [disabled]="b.value.soft_delete"
                                                class="form-control openBucketListSettings_inputs create_form_input_shadow"
                                                (change)="bucketListEditor( b.key,  'bucket_name',$event.target.value)"
                                                value={{b.value.bucket_name}}>
                                        </td>
                                        <td class="text-center" [hidden]="bucket_list_counter[b.key]">
                                            <button (click)="bucketListEditor(b.key, 'soft_delete', true)"
                                                class='btn btn-outline-danger btn-action-borderless'
                                                *ngIf="!b.value.soft_delete" style="width: 100%">Delete</button>
                                        </td>
                                        <td class="text-center alert-warning" [hidden]="!bucket_list_counter[b.key]">
                                            <p *ngIf="bucket_list_counter[b.key]"
                                                style="font-size: 12px; margin-bottom: 0px">
                                                {{bucket_list_counter[b.key]}} answer(s) </p>
                                            <p *ngIf="bucket_list_counter[b.key]"
                                                style="font-size: 12px;margin-bottom: 0px">are using this bucket</p>
                                        </td>
                                        <!-- <td *ngIf="b.value.soft_delete" class="table-secondary">
                                                            <input type="text" disabled class="form-control openBucketListSettings_inputs"
                                                                (change)="bucketListEditor(i, 'bucket_name', $event.target.value)" value={{b.value.bucket_name}}>
                                                        </td>
                                                        <td *ngIf="b.value.soft_delete" class="table-secondary">
                                                            <button *ngIf="b.value.soft_delete" (click)="bucketListEditor(i, 'soft_delete', false)"
                                                                class='btn btn-outline-success btn-action-borderless'>Enable</button>
                                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <div style="width: 100%" [hidden]="bucket_list_confirm_bool">
                                <div class="input-group shadow">
                                    <input type="text"
                                        class="form-control create_form_input_shadow openBucketListSettings_inputs"
                                        id="updatable_bucket_list_newBucket" placeholder="Add a new bucket"
                                        value={{bucket_new.bucket_name}}
                                        (change)="bucket_new.bucket_name = $event.target.value">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-success btn-action-borderless"
                                            id="updatable_bucket_list_add" (click)="addNewBucket()">Add</button>
                                    </div>
                                </div>
                            </div>
                            <table [hidden]="!bucket_list_confirm_bool" class="table table-borderless table-sm ">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Bucket Name</th>
                                        <th>Bucket change</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let b of bucket_list_confirm_list | keyvalue">
                                        <th scope="row">{{b.key}}</th>
                                        <td>{{b.value['bucket_name']}}</td>
                                        <td>
                                            <p *ngIf="b.value['New Bucket name']">New name: <span
                                                    class="text-success">{{b.value['New Bucket name']}}</span></p>
                                            <p *ngIf="b.value['status']">Now is
                                                <span *ngIf="!b.value['soft_delete']"
                                                    class="text-success">{{b.value['status']}}</span>
                                                <span *ngIf="b.value['soft_delete']"
                                                    class="text-danger">{{b.value['status']}}</span>
                                            </p>
                                        </td>
                                        <td>
                                            <button (click)="bucketUndoOne(b.key, b.value['index'])"
                                                class='btn btn-outline-warning btn-action-borderless'>Undo</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" *ngIf="bucket_list_changes_bool" class="btn btn-action-borderless btn-outline-danger" (click)="bucketListEditorCancel()" data-dismiss="modal">Cancel changes</button> -->
                            <button type="button" class="btn btn-action-borderless btn-outline-info"
                                (click)="bucketListEditorClose()" data-dismiss="modal">Close</button>
                            <!-- <button type="button" [hidden]="bucket_list_confirm_bool" class="btn btn-action-borderless btn-outline-warning" (click)="bucketListEditorConfirm()">Confirm</button> -->
                            <!-- <button type="button" [disabled]="!bucket_list_changes_bool" class="btn btn-action-borderless btn-outline-success" (click)="bucketListEditorSave()">Save</button> -->
                        </div>
                    </div>
                </div>
                <!-- IMAGE VIEWER -->
                <div class="modal-content shadow-lg" *ngIf="modal_message.title == 'Image'">
                    <div>
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenteredLabel">{{modal_message.title}}</h5>
                            <button type="button" class="close" (click)="bucketListEditorClose()" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body modal-img" style="padding: 0px 1rem">
                            <img src="{{modal_message.body}}" class="img-fluid" alt="Responsive image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="admin-create-quiz-title">
            <h1>Create a new quiz</h1>
        </div>
        <div class="admin-create-quiz-body">
            <div class="admin-create-quiz-body-topic-cat-eng-box">
                <div class="input-group">
                    <div class="admin-create-quiz-body-topic-cat-eng-box-select-box">
                        <span class="text-muted">Engagement</span>
                        <select class="custom-select shadow" style="border-radius: 0px;"
                            (change)="valueChanger('engagement', $event.target.value)">
                            <option *ngFor="let eng of engagements" [selected]="eng.engagement_id==currentEng_id"
                                [disabled]="eng.soft_delete" value={{eng.engagement_id}}>{{eng.engagement_name}}
                            </option>
                        </select>
                    </div>
                    <div class="admin-create-quiz-body-topic-cat-eng-box-select-box">
                        <span class="text-muted">Category</span>
                        <input [disabled]="!selected_eng" style="border-radius: 0px;" class="custom-select shadow"
                            type="text" id="category_selector" list="categories"
                            (change)="valueChanger('category', $event.target.value)" />
                        <datalist id="categories">
                            <select class="custom-select">
                                <option *ngFor="let c of categories_list | keyvalue" [value]="c.key"></option>
                            </select>
                        </datalist>
                    </div>
                    <div class="admin-create-quiz-body-topic-cat-eng-box-select-box">
                        <span class="text-muted">Topic</span>
                        <input [disabled]="!selected_category" style="border-radius: 0px;" id="topic_selector"
                            class="custom-select shadow" type="text" list="topics"
                            (change)="valueChanger('topic', $event.target.value)" />
                        <datalist id="topics">
                            <select class="custom-select">
                                <option *ngFor="let t of topic_list | keyvalue" [value]="t.value['topic']">(Already
                                    exists)
                                </option>
                            </select>
                        </datalist>
                    </div>
                    <div class="admin-create-quiz-body-topic-cat-eng-box-select-box">
                        <span class="text-muted">Time limit</span>
                        <select class="custom-select shadow" style="border-radius: 0px;"
                            (change)="valueChanger('time_limit', $event.target.value)">
                            <option value=null>No limit</option>
                            <option value="15">15 minutes</option>
                            <option value="30">30 minutes</option>
                            <option value="45">45 minutes</option>
                            <option value="60">60 minutes</option>
                        </select>
                    </div>
                </div>
            </div>

           
            <div style="margin-top: 15px">
                <!-- <button class="btn btn-lg shadow" (click)="checkState()">Check State</button> -->
                <button class="btn btn-lg btn-action-borderless btn-secondary shadow"
                    (click)="openBucketEditor()">Add/Edit Buckets</button>
            </div>
            <div [hidden]="!submit_ready" class="alert alert-success text-center shadow"
                style="width: 500px; margin: 50px auto;" role="alert">
                <strong>All questions are good!</strong>
            </div>
            <div *ngIf="topic_cat_eng_message.display && !submit_ready" style="margin-top: 15px">
                    <div *ngIf="topic_cat_eng_message.status == 'fail'" class="alert alert-warning shadow" role="alert">
                        <strong>Warning!</strong> {{topic_cat_eng_message.message}}
                    </div>
                    <div *ngIf="topic_cat_eng_message.status == 'success'" class="alert alert-success shadow" role="alert">
                        <strong>Nice!</strong> {{topic_cat_eng_message.message}}
                    </div>
                </div>
            <div class="d-flex justify-content-center" *ngIf="!submit_status.display" style="margin-top: 50px">
                <button [hidden]="submit_ready" class="btn btn-lg btn-info btn-action-borderless shadow"
                    (click)="validateQuiz()">Validate</button>
                <div [hidden]="!submit_ready" class="shadow btn-group btn-group-lg " role="group">
                    <button class="btn btn-lg btn-success btn-action-borderless" (click)="submitQuiz()">Submit</button>
                    <button class="btn btn-lg btn-warning btn-action-borderless" (click)="cancelSubmitQuiz()">Cancel</button>
                </div>
            </div>

            <div class="d-flex justify-content-center"
                *ngIf="submit_status.display && submit_status.status == 'success'" style="margin-top: 50px; ">
                <div class="alert alert-success shadow" role="alert"
                    style="display: flex; align-items: center; flex-direction: column;">
                    <h4 class="alert-heading">Well done!</h4>
                    You successfully created a new quiz.
                    <br>
                    <a [hidden]="submit_ready" class="btn btn-outline-light btn-action-borderless "
                        (click)="goBack()">Click here to go back to the admin portal</a>
                </div>
            </div>

            <div class="d-flex justify-content-center" *ngIf="submit_status.display && submit_status.status == 'fail'"
                style="margin-top: 50px;">
                <div class="alert alert-error shadow" role="alert"
                    style="display: flex; align-items: center; flex-direction: column;">
                    <h4 class="alert-heading">New quiz failed</h4>
                    Something went wrong on the backend.
                    {{submit_status.message}}
                    <a [hidden]="submit_ready" class="btn btn-link btn-action-borderless " (click)="goBack()">Click here
                        to go back to the admin portal</a>
                </div>
            </div>
        </div>


        <div class='admin-create-quiz-form' style="margin-top: 25px;">
            <table class="table table-borderless shadow">
                <thead class="thead-dark sticky-top">
                    <tr style="height: 50px">
                        <th class="border-0 text-uppercase small font-weight-bold text-center" style="width: 5%">
                            ID/Order
                        </th>
                        <th class="border-0 text-uppercase small font-weight-bold text-center">Question prompt</th>
                        <th class="border-0 text-uppercase small font-weight-bold text-center">Image</th>
                        <th class="border-0 text-uppercase small font-weight-bold text-center" style="width: 7%">Display
                            Type
                        </th>
                        <th class="border-0 text-uppercase small font-weight-bold text-center">List of choices/Expected
                            Answer
                        </th>
                        <th class="border-0 text-uppercase small font-weight-bold text-center">Admin notes</th>
                        <th class="border-0 text-uppercase small font-weight-bold text-center" style="width: 5%">Action
                        </th>
                    </tr>
                </thead>
                <tbody style="background: white">
                    <tr *ngFor='let q of list_of_questions | keyvalue'
                        [ngClass]="{'border-top': !q.value['error_bool']}" class="create_form_row">
                        <!-- QUESTIONS -->
                        <td *ngIf="!q.value['error_bool']" class='text-center table-row'>
                            <p>{{q.key}}</p>
                            <div>
                                <input style="width: 100%; padding: 0px 0px !important"
                                    (change)="inputEditor('question_sort', q.key, 'question_sort', null, $event.target.value)"
                                    class="edit_sort_value form-control create_form_input_shadow" min=1 max=99
                                    type="number" value=1 title="Set Question Priority" data-toggle="tooltip"
                                    data-placement="bottom" title="Tooltip on bottom"
                                    value="{{list_of_questions[q.key]['question_sort']}}">
                            </div>
                        </td>
                        <td *ngIf="!q.value['error_bool']" style="padding: 0px 3px !important;">
                            <textarea class='textAreaPrompt form-control create_form_input_shadow'
                                (change)="inputEditor('prompt', q.key, 'prompt', null, $event.target.value)" rows=4
                                name='questionPromts' id='questionPromt_{{q.key}}'
                                value="{{q.value['prompt']}}"></textarea>
                        </td>
                        <td *ngIf="!q.value['error_bool']" class='create_form_img_box' align="center">
                            <div *ngIf="!q.value['image']">
                                <label for="file-upload{{q.key}}" style="width: 100%;"
                                    class="custom-file-upload btn btn-sm btn-outline-secondary btn-action-borderless">
                                    &#8682; Upload Picture
                                </label>
                                <input id="file-upload{{q.key}}" type="file"
                                    (change)="inputEditor('img', q.key, 'base64', null, $event.target.files)"
                                    accept="image/*" />
                            </div>
                            <div *ngIf="q.value['image']" style="position: relative">
                                <img src="{{q.value['base64']}}" class="img-fluid" (click)="imageZoom(q.key)"
                                    alt="Responsive image">
                                <button class="btn btn-sm btn-outline-danger btn-image-remove"
                                    (click)="removeImg(q.key)">x</button>
                            </div>
                        </td>
                        <td *ngIf="!q.value['error_bool']">
                            <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
                                <button class="btn btn-sm btn-action-borderless btn-outline-secondary"
                                    [ngClass]="{ 'active': q.value.question_type_id == 2 }"
                                    (click)="displayTypeChanger(q.key, 'textfield input')"
                                    [disabled]="q.value.question_soft_delete" type="radio" name="displayTypeNew"
                                    id="manual_input" value="textfield input" checked="checked"> Manual Input</button>

                                <button class="btn btn-sm btn-action-borderless btn-outline-secondary"
                                    [ngClass]="{ 'active': q.value.display_type_id == 1 && q.value.question_type_id == 1 }"
                                    (click)="displayTypeChanger(q.key, 'Radio')"
                                    [disabled]="q.value.question_soft_delete" type="radio" name="displayTypeNew"
                                    id="radio " value="Radio"> Radio</button>

                                <!-- <button class="btn btn-sm btn-action-borderless btn-outline-secondary "
                                                        [disabled]="q.value.question_soft_delete"
                                                        [ngClass]="{ 'active': q.value.display_type_id == 3 && q.value.question_type_id == 1 }" 
                                                        (click)="displayTypeChanger( q.key, 'Dropdown')" type="radio" name="displayTypeNew" 
                                                        id="dropdown" value="Dropdown"> Dropdown</button> -->

                                <button class="btn btn-sm btn-action-borderless btn-outline-secondary"
                                    [ngClass]="{ 'active': q.value.display_type_id == 2 && q.value.question_type_id == 1 }"
                                    (click)="displayTypeChanger(q.key, 'Checkbox')"
                                    [disabled]="q.value.question_soft_delete" type="radio" name="displayTypeNew "
                                    id="checkbox " value="Checkbox "> Checkbox</button>
                                <button class="btn btn-sm btn-action-borderless btn-outline-secondary "
                                    [ngClass]="{ 'active': q.value.question_type_id == 3  }"
                                    (click)="displayTypeChanger( q.key, 'drag_and_drop')"
                                    [disabled]="q.value.question_soft_delete" type="radio" name="displayTypeNew"
                                    id="drag_and_drop" value="drag_and_drop">Drag'n'Drop</button>
                            </div>
                        </td>
                        <td *ngIf="!q.value['error_bool']">
                            <!-- NOT SELECTED -->
                            <div *ngIf="!q.value['question_type_description']">
                                <p align="center" class='text-muted'>Please check type of question.</p>
                            </div>


                            <!-- MANUAL INPUT -->
                            <div style="padding: 0px 3px !important;" [hidden]="q.value['question_type_id'] != 2">
                                <textarea
                                    (change)="inputEditor('expected_response', q.key, 'expected_response', null, $event.target.value)"
                                    class='textAreaExpectedAnswer form-control create_form_input_shadow' rows=4
                                    placeholder="Expected answer (optional)"
                                    value="{{q.value['expected_response']}}"></textarea>
                            </div>


                            <!-- DRAG AND DROP  -->
                            <div class="input-group mt-2" [hidden]="q.value['question_type_id'] != 3">
                                <div *ngFor="let ans of q.value['answer_prompt'] | keyvalue" class="input-group mt-1">
                                    <input type="text"
                                        (change)="inputEditor('drag_and_drop', q.key, 'answer_prompt', ans.key, $event.target.value)"
                                        class="form-control bucket_input_edit bucket_input_edit_question_{{q.key}}"
                                        id="bucket_input_edit_{{q.key}}" placeholder='Add a choice'
                                        style="padding: 0px;" value="{{ans.value}}">
                                    <select list="bucket_list"
                                        (change)="inputEditor('drag_and_drop', q.key, 'answer_bucket_id', ans.key, $event.target.value)"
                                        class="form-control bucket_list_pick" id="bucket_list_pick_{{q.key}}"
                                        placeholder='Bucket' style="padding: 0px;">
                                        <!-- <option type='button' class="bucket_list_settings" value="add_edit">Add/Edit</option> -->
                                        <option disabled style="margin-top:8px; border-top:1px solid #666; padding:0;">
                                            ____________</option>
                                        <!-- <option *ngFor="let b of bucket_list" value="{{b.bucket_id}}"
                                                            [selected]="q['answer_bucket_id'][ans.key] == b.bucket_id">
                                                            {{b.bucket_name}}</option> -->
                                        <ng-container *ngFor="let b of bucket_list | keyvalue">
                                            <option
                                                [selected]="q.value['answer_bucket_id'][ans.key] == b.value.bucket_id"
                                                value="{{b.value.bucket_id}}">{{b.value.bucket_name}}</option>
                                        </ng-container>
                                    </select>
                                    <div class="input-group-append">
                                        <button type="button" class='btn btn-danger'
                                            (click)="removeDragAndDropChoice(q.key, ans.key)">-</button>
                                    </div>
                                </div>
                                <div class="input-group-prepend">
                                    <button
                                        class="btn btn-outline-success bucket_input_add_button btn-action-borderless"
                                        (click)="dragAndDropAdder(q.key)" style="font-size: smaller; padding: 8px;"
                                        id='bucket_input_add_button_{{q.key}}' type="button">+</button>
                                </div>
                                <input type="text"
                                    (change)="inputEditor('drag_and_drop', q.key, 'temp_bucket_storage', 'answer_input', $event.target.value)"
                                    class="form-control bucket_input_add" id="bucket_input_add_input_{{q.key}}"
                                    placeholder='Add a choice' style="padding: 0px;">
                                <select *ngIf="bucketList_reloader[q.key]" list="bucket_list" type="text"
                                    (change)="inputEditor('drag_and_drop', q.key, 'temp_bucket_storage', 'bucket_id', $event.target.value)"
                                    class="form-control bucket_list_pick" id="bucket_list_pick_{{q.key}}"
                                    placeholder='Bucket' style="padding: 0px;">
                                    <option value="" selected disabled class="text-muted">Choose bucket</option>
                                    <!-- <option type='button' class="bucket_list_settings" value="add_edit">Add/Edit </option> -->
                                    <option disabled style="margin-top:8px; border-top:1px solid #666; padding:0;">
                                        ____________</option>
                                    <ng-container *ngFor="let b of bucket_list | keyvalue">
                                        <option *ngIf="!b.value.soft_delete" value="{{b.value.bucket_id}}">
                                            {{b.value.bucket_name}}</option>
                                    </ng-container>
                                </select>
                            </div>


                            <!-- CHECKBOX  -->
                            <div [hidden]="q.value['question_type_id'] != 1 || q.value['display_type_id'] != 2">
                                <div *ngFor="let ans of q.value['answer_prompt'] | keyvalue">
                                    <div>
                                        <input class="answerChoice" style="margin: 5px"
                                            (change)="inputEditor('answer', q.key, 'answer_correct', ans.key, !q.value['answer_correct'][ans.key])"
                                            [checked]=q.value.answer_correct[ans.key] type="checkbox"
                                            id="checkbox_{{ans.key}}"
                                            title="Select the right answer. You can chose multiple." />
                                        <label for="checkbox_{{ans.key}}" style="margin:0px 0px; width:92%">
                                            <div class="input-group mb-1">
                                                <div class="input-group-prepend" style="width: 15%;">
                                                    <input type="number"
                                                        (change)="inputEditor('answer', q.key, 'answer_sort', ans.key, $event.target.value)"
                                                        class="answer_order_edit form-control create_form_input_shadow"
                                                        min="1" id="answer_order_edit_{{ans.key}}" style="width: 90%;"
                                                        value="{{q.value['answer_sort'][ans.key] }}"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        title="Set priority of the answer.">
                                                </div>
                                                <input class="form-control create_form_input_shadow" type="text"
                                                    id="answerId${id}" value="" aria-describedby="basic-addon2"
                                                    value='{{ans.value}}'
                                                    (change)="inputEditor('answer', q.key, 'answer_prompt', ans.key, $event.target.value)" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-danger buttonRemoveAnswer"
                                                        (click)="inputEditor('answer', q.key, 'answer_soft_delete', ans.key, true)"
                                                        [hidden]="q.value['answer_soft_delete'][ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">-</button>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <!-- DROPDOWN/SELECT -->
                            <div [hidden]="q.value['question_type_id'] != 1 || q.value['display_type_id'] != 3">
                                <div *ngFor="let ans of q.value['answer_prompt'] | keyvalue" class="custom-radio">
                                    <div>
                                        <input class="answerChoice" style="margin: 5px"
                                            (change)="inputEditor('answer',q.key, 'answer_correct', ans.key, !q.value['answer_correct'][ans.key])"
                                            [checked]=q.value.answer_correct[ans.key] type="radio"
                                            id="checkbox_{{ans.key}}"
                                            title="Select the right answer. You can chose only one answer."
                                            name="radio_answer_for_question_{{q.key}}" />
                                        <label for="checkbox_{{ans.key}}" style="margin:0px 0px; width:92%">
                                            <div class="input-group mb-1">
                                                <div class="input-group-prepend" style="width: 15%;">
                                                    <input type="number"
                                                        (change)="inputEditor('answer',q.key, 'answer_sort', ans.key, $event.target.value)"
                                                        class="form-control answer_order_edit create_form_input_shadow"
                                                        min="1" id="answer_order_edit_{{ans.key}}" style="width: 90%;"
                                                        value="{{q.value['answer_sort'][ans.key] }}"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        title="Set priority of the answer.">
                                                </div>
                                                <input class="form-control create_form_input_shadow" type="text"
                                                    id="answerId${id}" value="" aria-describedby="basic-addon2"
                                                    value='{{ans.value}}'
                                                    (change)="inputEditor('answer',q.key, 'answer_prompt', ans.key, $event.target.value)" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-danger buttonRemoveAnswer"
                                                        (click)="inputEditor('answer',q.key, 'answer_soft_delete', ans.key, true)"
                                                        [hidden]="q.value['answer_soft_delete'][ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">-</button>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <!-- RADIO -->
                            <div [hidden]="q.value['question_type_id'] != 1 || q.value['display_type_id'] != 1">
                                <div *ngFor="let ans of q.value['answer_prompt'] | keyvalue" class="custom-radio">
                                    <div>
                                        <input class="answerChoice" style="margin: 5px"
                                            (change)="inputEditor('answer',q.key, 'answer_correct', ans.key, !q.value['answer_correct'][ans.key])"
                                            [checked]=q.value.answer_correct[ans.key] type="radio"
                                            id="checkbox_{{ans.key}}"
                                            title="Select the right answer. You can chose only one answer."
                                            name="radio_answer_for_question_{{q.key}}" />
                                        <label for="checkbox_{{ans.key}}" style="margin:0px 0px; width:92%">
                                            <div class="input-group mb-1">
                                                <div class="input-group-prepend" style="width: 15%;">
                                                    <input type="number"
                                                        (change)="inputEditor('answer',q.key, 'answer_sort', ans.key, $event.target.value)"
                                                        class="form-control answer_order_edit create_form_input_shadow"
                                                        min="1" id="answer_order_edit_{{ans.key}}" style="width: 90%;"
                                                        value="{{q.value['answer_sort'][ans.key] }}"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        title="Set priority of the answer.">
                                                </div>
                                                <input class="form-control create_form_input_shadow" type="text"
                                                    id="answerId${id}" value="" aria-describedby="basic-addon2"
                                                    value='{{ans.value}}'
                                                    (change)="inputEditor('answer',q.key, 'answer_prompt', ans.key, $event.target.value)" />
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-danger buttonRemoveAnswer"
                                                        (click)="inputEditor('answer',q.key, 'answer_soft_delete', ans.key, true)"
                                                        [hidden]="q.value['answer_soft_delete'][ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">-</button>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <!-- ADD ANSWER FORM -->
                            <div style="padding-right: 3px !important;"
                                class="input-group mb-3 create_form_input_shadow"
                                [hidden]="q.value['question_type_id'] != 1">
                                <div class="input-group-prepend" style="width: 25px">
                                    <button class="btn btn-success create_form_answer_add btn-action-borderless"
                                        id='buttonAddNewAnswer_{{q.key}}' type="button"
                                        (click)="addAnswer(q.key)">+</button>
                                </div>
                                <input type="text"
                                    class="form-control create_form_input_shadowless  edit_quiz_input_text_add"
                                    id="newAnswerFor_{{q.key}}" placeholder='Add an answer'
                                    aria-describedby="basic-addon2">
                            </div>

                        </td>

                        <!-- ADMIN NOTES -->
                        <td *ngIf="!q.value['error_bool']">
                            <div class="input-group">
                                <input class="create_form_input_shadow form-control "
                                    value="{{list_of_questions[q.key]['training_url']}}" type="text"
                                    placeholder="Confluence link (optional)"
                                    (change)="inputEditor(null, q.key, 'training_url', null, $event.target.value)">
                                <div class="input-group-append">
                                    <button type='button' class='buttonConfluenceLink btn btn-xs  btn-outline-secondary'
                                        id='buttonConfluenceLinkForQuestion${id}'
                                        (click)="checkModuleLink(q.key)">Check</button>
                                </div>
                            </div>
                            <div id='module_field${id}'>
                                <input class="create_form_input_shadow form-control"
                                    value="{{list_of_questions[q.key]['training_module']}}"
                                    (change)="inputEditor('training_module', q.key,'training_module', null, $event.target.value)"
                                    id='editModuleForQuestionId${id}' type="text" placeholder="Module note (optional)">
                            </div>
                            <div class="input-group  mb-3" style="width: 185px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-secondary text-white" id="basic-addon3">Question
                                        value</span>
                                </div>
                                <input class="form-control create_form_input_shadow"
                                    value="{{list_of_questions[q.key]['point_value']}}"
                                    (change)="inputEditor('point_value', q.key,'point_value', null, $event.target.value)"
                                    type="number" min="1" max="10" style="padding: 0px 5px;">
                            </div>
                        </td>

                        <!-- ACTION BUTTONS -->
                        <td style='text-align: center' *ngIf="!q.value['error_bool']">
                            <div>
                                <button *ngIf="q.key == 'new_question'"
                                    class='btn btn-outline-success btn-action-borderless' (click)="addQuestion()"
                                    style="width: 100%">+ Add</button>
                                <button *ngIf="q.key != 'new_question'"
                                    class='btn btn-outline-danger btn-action-borderless' (click)="removeQuestion(q.key)"
                                    style="width: 100%">Remove</button>
                            </div>
                        </td>

                        <!-- ERROR -->
                        <td colspan="7" *ngIf="q.value['error_bool']" style="padding: 10px 10px !important">
                            <div class="alert alert-warning shadow" role="alert"
                                style="width: 500px; margin: 0px auto;">
                                <button type="button" class="close" (click)="errorRemoveById(q.key)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <p class="text-center "><strong>{{q.value['target']}} error(s):</strong></p>
                                <p *ngFor="let error of q.value['errors'] | keyvalue" class="text-center"
                                    style="margin-bottom: 0px !important">{{error.value}}</p>
                            </div>
                        </td>


                    </tr>
                    <!-- <tr *ngIf="list_of_questions.new_question_error" class="create_form_row">
                                    <td colspan="7" (click)="errorHandlerRemover('new_question')" class="errorHandlerBox">
                                        <div class="alert alert-danger shadow errorHandler" role="alert">
                                            <p class="text-center" *ngFor="let el of list_of_questions.new_question_error.errors | keyvalue">
                                                {{el.value}}
                                            </p>
                                        </div>
                                    </td>
                                </tr> -->
                </tbody>
            </table>
            <div [hidden]="!submit_ready" class="alert alert-success text-center shadow"
                style="width: 500px; margin: 50px auto;" role="alert">
                <strong>All questions are good!</strong>
            </div>
            <div class="d-flex justify-content-center" *ngIf="!submit_status.display" style="margin-top: 50px">
                <button [hidden]="submit_ready" class="btn btn-lg btn-info btn-action-borderless shadow"
                    (click)="validateQuiz()">Validate</button>
                <div [hidden]="!submit_ready" class="shadow btn-group btn-group-lg " role="group">
                    <button class="btn btn-lg btn-success btn-action-borderless" (click)="submitQuiz()">Submit</button>
                    <button class="btn btn-lg btn-warning btn-action-borderless" (click)="cancelSubmitQuiz()">Cancel</button>
                </div>
            </div>

            <div class="d-flex justify-content-center"
                *ngIf="submit_status.display && submit_status.status == 'success'" style="margin-top: 50px; ">
                <div class="alert alert-success shadow" role="alert"
                    style="display: flex; align-items: center; flex-direction: column;">
                    <h4 class="alert-heading">Well done!</h4>
                    You successfully created a new quiz.
                    <br>
                    <a [hidden]="submit_ready" class="btn btn-outline-light btn-action-borderless "
                        (click)="goBack()">Click here to go back to the admin portal</a>
                </div>
            </div>

            <div class="d-flex justify-content-center" *ngIf="submit_status.display && submit_status.status == 'fail'"
                style="margin-top: 50px;">
                <div class="alert alert-error shadow" role="alert"
                    style="display: flex; align-items: center; flex-direction: column;">
                    <h4 class="alert-heading">New quiz failed</h4>
                    Something went wrong on the backend.
                    {{submit_status.message}}
                    <a [hidden]="submit_ready" class="btn btn-link btn-action-borderless " (click)="goBack()">Click here
                        to go back to the admin portal</a>
                </div>
            </div>



        </div>

    </div>
    <div *ngIf="!currentUser || !engagements" class=" loading_box " style=" margin-top: 100px;height: 300px;">
        <h2>Loading...</h2>
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <div
        style="background: url(/assets/footer_background.png); background-position: top 0px right 0px !important; background-repeat: no-repeat !important; background-size: cover !important; width: 100%">
        <div class="index_row " style="display: flex;
                                                            flex-direction: column;
                                                            flex-wrap: nowrap;
                                                            justify-content: center;
                                                            align-items: center;
                                                            align-content: space-between;">
            <div class="col-md-4 col-12 px-2" style="justify-content: center;">
                <div class="text-center">
                    <h4 style="color: #4f91cd;">Skill Assessment Tool</h4>
                </div>
            </div>
            <div class="col-md-4 col-12 px-2">
                <div class="text-center">
                    <p class="mt-3">If you have questions, please contact the Training Team</p>
                    <p><a class="mt-3" href="mailto:jennifer@bpcs.com?subject=Question regarding Skill Assessment"
                            style="color: #4f91cd; cursor: pointer;"> Jennifer Hollar</a></p>
                    <p><a class="mt-3" href="mailto:nmelling@bpcs.com?subject=Question regarding Skill Assessment"
                            style="color: #4f91cd; cursor: pointer;"> Nigel Melling</a></p>
                    <p><a class="mt-3" href="mailto:kjenson@bpcs.com?subject=Question regarding Skill Assessment"
                            style="color: #4f91cd; cursor: pointer;"> Kevin Jenson</a></p>
                </div>
            </div>
            <div class="col-md-4 col-12 px-2" style="margin: 5px">
                <div class="text-center  bp-box shadow">
                    <h4 class="mt-3" style="color: #4f91cd; text-shadow: 0px 0px 1px silver;">Blueprint Consulting</h4>
                    <h5 class="mt-3" style="color: #4f91cd; text-shadow: 0px 0px 1px silver;">505 106th Ave NE, Third
                        Floor, Bellevue, WA 98004</h5>
                    <h5 class="mt-3" style="color: #4f91cd; text-shadow: 0px 0px 1px silver;">(206) 455-8326</h5>
                </div>
            </div>
        </div>
    </div>
</div>