<div *ngIf='currentUser && currentUser.admin' class="quiz-selection element-animation-fadeIn" align="center" id="body_fadeOut">
    <div style="height: 10%; justify-content: center; display: flex; flex-direction: column;flex-wrap: wrap;">
        <h1 class="text-center">Welcome, {{currentUser.first_name}} {{currentUser.last_name}}</h1>
    </div>
    <div class="home-main" id="homeCategories" *ngIf="currentEng">
        <div class="home-category">
            <div class="home-category-title bg-dark text-white" style="width: 100%; padding: 5px 0px;">
                <h2>Grader</h2>
            </div>
            <div class="home-category-element">
                <a class="" [routerLink]="['/', currentEng_id, 'adminhomegrade']">
                    <button *ngIf="gradings_counter>0" class="btn btn-outline-success btn-outline-success-hover-side-shadow btn-lg " [disabled]="!currentUser.admin_grader && !currentUser.admin_owner" type="button">Grade a Quiz ({{gradings_counter}})</button>
                    <button *ngIf="!gradings_counter || gradings_counter<1" class="btn btn-outline-success btn-lg " disabled type="button">No quizzes to grade</button>
                </a>
            </div>
        </div>
        <div class="home-category">
            <div class="home-category-title bg-dark text-white" style="width: 100%; padding: 5px 0px;">
                <h2>Editor</h2>
            </div>
            <div class="home-category-element">
                <a class="" [routerLink]="['/',currentEng_id, 'admincreatequiz']">
                    <button class="btn btn-outline-info btn-lg btn-outline-info-hover-side-shadow" type="button" [disabled]="!currentUser.admin_editor && !currentUser.admin_owner">Create a Quiz</button>
                </a>
                <a class="" [routerLink]="['/',currentEng_id, 'adminhomeedit']">
                    <button class="btn btn-lg btn-outline-info btn-outline-info-hover-side-shadow" type="button" [disabled]="!currentUser.admin_editor && !currentUser.admin_owner">Edit a Quiz</button>
                </a>
            </div>
        </div>
        <div class="home-category">
            <div class="home-category-title bg-dark text-white" style="width: 100%; padding: 5px 0px;">
                <h2>Quiz Controls</h2>
            </div>
            <div class="home-category-element">
                <a class="" [routerLink]="['/',currentEng_id, 'AdminEditpermissions']">
                    <button class="btn btn-outline-secondary btn-lg btn-outline-secondary-hover-side-shadow" [disabled]="!currentUser.admin_permissions && !currentUser.admin_owner" type="button">Quiz Permissions</button>
                </a>
                <a class="" [routerLink]="['/',currentEng_id, 'AdminEditsubmissions']">
                    <button class="btn btn-outline-secondary btn-lg btn-outline-secondary-hover-side-shadow" [disabled]="!currentUser.admin_permissions && !currentUser.admin_owner" type="button">Quiz Submissions</button>
                </a>
            </div>
        </div>
        <div class="home-category">
            <div class="home-category-title bg-dark text-white" style="width: 100%; padding: 5px 0px;">
                <h2>Super Admin</h2>
            </div>
            <div class="home-category-element">
                <a class="" [routerLink]="['/',currentEng_id, 'AdminEditusersComponent']">
                    <button class="btn btn-outline-warning btn-lg btn-outline-warning-hover-side-shadow" [disabled]="!currentUser.admin_permissions && !currentUser.admin_owner" type="button">User Permissions</button>
                </a>
                <a class="" [routerLink]="['/',currentEng_id, 'AdminEditengagements']">
                    <button class="btn btn-outline-warning btn-lg btn-outline-warning-hover-side-shadow" [disabled]="!currentUser.admin_permissions && !currentUser.admin_owner" type="button">Edit Engagements</button>
                </a>
            </div>
        </div>
    </div>
</div>