.grade-home-main {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
}

.grade-home-category {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 15px 15px;
    box-shadow: 5px 10px 18px #888888;
}

.grade-home-category-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.grade-home-category-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.grade-home-category-element a {
    width: 100%
}

.grade-home-category-element button {
    width: 100%;
    border: none;
    border-radius: 0px;
}

.home-main {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
}

.home-category {
    min-width: 250px;
    width: 250px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 15px 15px;
    background: rgba(255, 255, 255, 0.4);
    transition: 0.8s;
    color: #716c6c;
    box-shadow: 1px 2px 10px #3534340f;
}

.home-category:hover {
    color: black;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 10px 18px #888888;
}

.home-category-element .btn {
    white-space: normal !important;
    word-wrap: break-word;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-category-title {
    max-width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: normal;
}

.home-category-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.home-category-element-inner-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.home-category-element a {
    width: 100%
}

.home-category-element-inner-box a {
    width: 50%;
    border-radius: 0px;
}

.home-category-element button {
    width: 100%;
    border: none;
    border-radius: 0px;
}


/* .home-category-element-hover {
    background: linear-gradient(to right, #fbfbfb, #fbfbfb);
    transition: all 0.3s
}

.home-category-element-hover:hover {
    background: linear-gradient(to right, #fbfbfb, #c6c6c6)
} */

.home-category-element-hover {
    position: relative;
    background-image: linear-gradient( to right, #fbfbfb, #fbfbfb);
    z-index: 1;
}

.home-category-element-hover::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( to right, #fbfbfb, #c6c6c6);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.home-category-element-hover:hover::before {
    opacity: 1;
}

.cards-main{
    margin:10px auto;
    width: 80%;
    max-width: 1266px;
}

.card-category{
    border-radius: 0px;
    margin: 25px 15px;
    background: rgba(255, 255, 255, 0.4);
    transition: 0.8s;
    color: #716c6c;
    box-shadow: 1px 2px 10px #3534340f;
    margin-bottom: 30px !important;
}
.card-category:hover{
    color: black;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 10px 18px #888888;
}
.card-body{
    padding: 0px 0px;
}
.card-header{

}
