.admin-create-quiz {
    margin-top: 50px;
}

.admin-create-quiz-title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.admin-create-quiz-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.admin-create-quiz-body-topic-cat-eng-box {
    /* max-width: 400px; */
}

.admin-create-quiz-body-topic-cat-eng-box-select-box {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.thead-light {
    background: #e9ecef;
    color: #7f8082;
}

.select-label {
    margin-bottom: 0px !important;
    margin-left: 5px;
}

.table-row {
    /* padding: 0px 0px !important; */
    /* display: ; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.create_form_img_box {
    width: 15%;
}

.create_form_answer_add {
    width: 100%;
    padding: 0px 0px !important;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.create_form_input_shadow {
    box-shadow: 0 0 0 1px rgba(179, 182, 185, 0.25);
    border-radius: 0px;
}

.create_form_input_shadow:focus {
    box-shadow: 0 0 0 1px #4f91cd59;
    /* background-color: none repeat scroll 0 0 rgba(0, 0, 0, 0.01); */
}

.btn-shadow {
    box-shadow: 0 0 0 0.2rem rgba(179, 182, 185, 0.25);
}

.create_form_input_shadowless {
    box-shadow: none;
    border-radius: 0px;
    border: none;
}

.create_form_input_shadowless:focus {
    box-shadow: none;
    border: none;
    /* background-color: none repeat scroll 0 0 rgba(0, 0, 0, 0.01); */
}

.answer_order_edit {
    padding: 0px 0px !important
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: none !important
}

.focus,
.active {
    box-shadow: none !important
}

.btn:focus {
    box-shadow: none !important
}

.btn-image-remove {
    position: absolute;
    top: 15px;
    right: 0%;
    height: 25px;
    width: 25px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 0px 0px;
    text-align: center;
}

.bucket_list_pick {
    border-radius: 0px;
}

.errorHandlerBox {
    border-bottom: 1px solid silver;
    padding: 15px 0px !important;
}

.errorHandler {
    width: 70%;
    max-width: 500px;
    margin: 0px auto;
}

.create_form_row {
    border: none !important;
}

.modal_message_box {
    position: fixed;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    background: rgba(179, 182, 185, 0.5)
}

.modal_message {
    max-height: 52vh;
}

.modal-edit-remove-bucket{
    height: 50vh !important;
    overflow-y: auto;
}
.modal-edit-remove-bucket td{
    /* padding: 0px 0px !important; */
}
.modal-dialog{
    width: 700px;
    /* height: 100px; */
}
.fixed_header tbody{
    display:block;
    overflow:auto;
    height:200px;
    width:100%;
  }
  .fixed_header thead tr{
    display:block;
  }
  .alert-error{
    color: #ffffff;
    background-color: #fd5665;
    border-color: #ff001b;
  }
  
thead th{
    position: sticky;
    top: 0px;
    z-index: 1;

}
.element_hard_deleted input{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.element_hard_deleted textarea{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.element_hard_deleted .input-group-prepend{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.element_hard_deleted select{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.modal-width-full{
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
}
.modal-img{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}
.border-top{
    border-top: 1px dotted silver !important;
}