<div class="admin-create-quiz" *ngIf="currentUser && engagements">
    <div [hidden]="!modal_mesage_bool" class="modal_message_box" (click)="closeModal_background_click($event.target)" id="modal_message_box">
        <div class="modal-dialog modal-dialog-centered modal_message" id="modal_main" role="document" [ngClass]="{
            'modal-width-full': modal_message.title == 'Image'
        }">
            <!-- EDIT/REMOVE BUCKET LIST -->
            <div class="modal-content shadow-lg" *ngIf="modal_message.title == 'Bucket editor'">
                <div>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">{{modal_message.title}}</h5>
                        <!-- <button type="button" class="close" (click)="bucketListEditorClose()" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button> -->
                    </div>
                    <div class="modal-body modal-edit-remove-bucket" style="padding: 0px 1rem">
                        <table [hidden]="bucket_list_confirm_bool" class="table table-borderless table-sm">
                            <thead class="thead-light">
                                <tr >
                                    <th class="text-center">ID</th>
                                    <th>Bucket Title</th>
                                    <th class="text-center">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let b of bucket_list | keyvalue" [ngClass]="{
                                    'alert-danger': b.value.soft_delete
                                }">
                                    <th class="" scope="row">{{b.value.bucket_id}}</th>
                                    <td>
                                        <input type="text"  [disabled]="b.value.soft_delete" class="form-control openBucketListSettings_inputs create_form_input_shadow"
                                            (change)="bucketListEditor( b.key,  'bucket_name',$event.target.value)" value={{b.value.bucket_name}}>
                                    </td>
                                    <td class="text-center" [hidden]="bucket_list_counter[b.key]">
                                        <button (click)="bucketListEditor(b.key, 'soft_delete', true)"
                                            class='btn btn-outline-danger btn-action-borderless' *ngIf="!b.value.soft_delete" style="width: 100%">Delete</button>
                                        <button (click)="bucketListEditor(b.key, 'soft_delete', false)"
                                            class='btn btn-outline-success btn-action-borderless' *ngIf="b.value.soft_delete" style="width: 100%">Restore</button>
                                    </td>
                                    <td class="text-center alert-warning" [hidden]="!bucket_list_counter[b.key]">
                                        <p *ngIf="bucket_list_counter[b.key]"  style="font-size: 12px; margin-bottom: 0px">{{bucket_list_counter[b.key]}} answer(s) </p>
                                        <p *ngIf="bucket_list_counter[b.key]" style="font-size: 12px;margin-bottom: 0px">are using this bucket</p>
                                    </td>
                                    <!-- <td *ngIf="b.value.soft_delete" class="table-secondary">
                                        <input type="text" disabled class="form-control openBucketListSettings_inputs"
                                            (change)="bucketListEditor(i, 'bucket_name', $event.target.value)" value={{b.value.bucket_name}}>
                                    </td>
                                    <td *ngIf="b.value.soft_delete" class="table-secondary">
                                        <button *ngIf="b.value.soft_delete" (click)="bucketListEditor(i, 'soft_delete', false)"
                                            class='btn btn-outline-success btn-action-borderless'>Enable</button>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                        <div style="width: 100%" [hidden]="bucket_list_confirm_bool">
                            <div class="input-group shadow">
                                <input type="text" class="form-control create_form_input_shadow openBucketListSettings_inputs" id="updatable_bucket_list_newBucket"
                                    placeholder="Add a new bucket" value={{bucket_new.bucket_name}} (change)="bucket_new.bucket_name = $event.target.value">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-success btn-action-borderless" id="updatable_bucket_list_add" (click)="addNewBucket()">Add</button>
                                </div>
                            </div>
                        </div>
                        <table [hidden]="!bucket_list_confirm_bool" class="table table-borderless table-sm ">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Bucket Name</th>
                                        <th>Bucket change</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let b of bucket_list_confirm_list | keyvalue">
                                        <th  scope="row">{{b.key}}</th>
                                        <td>{{b.value['bucket_name']}}</td>
                                        <td>
                                            <p *ngIf="b.value['New Bucket name']">New name: <span class="text-success" >{{b.value['New Bucket name']}}</span></p>
                                            <p *ngIf="b.value['status']">Now is 
                                                <span *ngIf="!b.value['soft_delete']" class="text-success">{{b.value['status']}}</span>
                                                <span *ngIf="b.value['soft_delete']" class="text-danger">{{b.value['status']}}</span>
                                            </p>
                                        </td>
                                        <td>
                                            <button  (click)="bucketUndoOne(b.key, b.value['index'])" class='btn btn-outline-warning btn-action-borderless'>Undo</button>
                                        </td>
                                    </tr>
                                </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" *ngIf="bucket_list_changes_bool" class="btn btn-action-borderless btn-outline-danger" (click)="bucketListEditorCancel()" data-dismiss="modal">Cancel changes</button>
                        <button type="button" *ngIf="!bucket_list_changes_bool" class="btn btn-action-borderless btn-outline-info" (click)="bucketListEditorClose()" data-dismiss="modal">Close</button>
                        <!-- <button type="button" [hidden]="bucket_list_confirm_bool" class="btn btn-action-borderless btn-outline-warning" (click)="bucketListEditorConfirm()">Confirm</button> -->
                        <button type="button" [disabled]="!bucket_list_changes_bool" class="btn btn-action-borderless btn-outline-success" (click)="bucketListEditorSave()">Save</button>
                    </div>
                </div>
            </div>
            <!-- IMAGE VIEWER -->
            <div class="modal-content shadow-lg" *ngIf="modal_message.title == 'Image'">
                <div>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredLabel">{{modal_message.title}}</h5>
                         <button type="button" class="close" (click)="bucketListEditorClose()" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body modal-img" style="padding: 0px 1rem">
                        <img src="{{modal_message.body}}" class="img-fluid" alt="Responsive image" >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="admin-create-quiz-title" role="group">
        <h1>Edit a quiz #{{topic_id}}</h1>
        <div class="btn-group-vertical" style="margin: 20px auto" role="group" aria-label="">
            <!-- <button (click)="checkState()">Check state</button> -->
          <button class="btn btn-warning shadow btn-action-borderless btn-outline-warning-hover-side-shadow" *ngIf='!topic_soft_delete' (click)="topic_soft_delete = true" >Disable Quiz</button>
          <button class="btn btn-success shadow btn-action-borderless" *ngIf='topic_soft_delete && !topic_delete_confirm' (click)="topic_soft_delete = false">Enable  Quiz</button>
          <button class="btn btn-danger shadow btn-action-borderless" *ngIf='topic_soft_delete && !topic_delete_confirm' (click)="topic_delete_confirm = true">Delete  Quiz</button>
        </div>
        <div class="admin-create-quiz-title" style="margin: 20px auto" *ngIf="topic_delete_confirm">
          <p class=''>Are you sure to delete this quiz?</p>
          <div class="btn-group" role="group" aria-label="">
              <button type="button"  (click)="deleteQuiz()" class="btn btn-danger " >Yes</button>
              <button type="button" (click)="topic_delete_confirm = false" class="btn btn-warning " >Cancel</button>
            </div>
        </div>
    </div>
    <div class="admin-create-quiz-body" style="margin: 20px auto">
        <div class="admin-create-quiz-body-topic-cat-eng-box">
            <div class="input-group">
                <div class="admin-create-quiz-body-topic-cat-eng-box-select-box">
                    <span class="text-muted">Engagement</span>
                    <select style="border-radius: 0px;" class="custom-select shadow" (change)="valueChanger('engagement', $event.target.value)" [disabled]="topic_soft_delete">
                        <option *ngFor="let eng of engagements" [selected]="eng.engagement_id==selected_eng"
                            [disabled]="eng.soft_delete" value={{eng.engagement_id}}>{{eng.engagement_name}}</option>
                    </select>
                </div>
                <div class="admin-create-quiz-body-topic-cat-eng-box-select-box">
                    <span class="text-muted">Category</span>
                    <input style="border-radius: 0px;" [disabled]="!selected_eng || topic_soft_delete" class="custom-select shadow" type="text" id="category_selector" list="categories" value="{{selected_category}}" (change)="valueChanger('category', $event.target.value)" />
                    <datalist id="categories">
                        <select class="custom-select">
                            <option *ngFor="let c of categories_list | keyvalue" [selected]="c.key == selected_category" [value]="c.key"><span *ngIf="c.key == original_category">(Original)</span></option>
                        </select>
                    </datalist>
                </div>
                <div class="admin-create-quiz-body-topic-cat-eng-box-select-box">
                    <span class="text-muted">Topic</span>
                    <input  style="border-radius: 0px;" [disabled]="!selected_category || topic_soft_delete" id="topic_selector" class="custom-select shadow" type="text" list="topics" value="{{selected_topic}}" (change)="valueChanger('topic', $event.target.value)" />
                    <datalist id="topics">
                        <select class="custom-select">
                            <option *ngFor="let t of topic_list | keyvalue" [value]="t.value['topic']">
                              <span *ngIf="t.value['topic'] != original_topic">(Already exists)</span>
                              <span *ngIf="t.value['topic'] == original_topic">(Original)</span>
                            </option>
                        </select>
                    </datalist>
                </div>
                <div class="admin-create-quiz-body-topic-cat-eng-box-select-box">
                    <span class="text-muted">Time limit</span>
                    <select style="border-radius: 0px;" [disabled]="topic_soft_delete" class="custom-select shadow" (change)="valueChanger('time_limit', $event.target.value)">
                        <option value=null [selected]="!time_limit">No limit</option>
                        <option value="15" [selected]="time_limit == 15">15 minutes</option>
                        <option value="30" [selected]="time_limit == 30">30 minutes</option>
                        <option value="45" [selected]="time_limit == 45">45 minutes</option>
                        <option value="60" [selected]="time_limit == 60">60 minutes</option>
                    </select>
                </div>
            </div>
        </div>

        <div style="margin-top: 15px">
           <button class="btn btn-lg btn-action-borderless btn-info bp-secondary shadow" [disabled]="topic_soft_delete" (click)="openBucketEditor()">Add/Edit Buckets</button>
        </div>
        <div *ngIf="topic_cat_eng_message.display" style="margin-top: 15px">
            <div *ngIf="topic_cat_eng_message.status == 'fail'" class="alert alert-warning shadow" role="alert">
                <strong>Warning!</strong> {{topic_cat_eng_message.message}}
            </div>
            <div *ngIf="topic_cat_eng_message.status == 'success'" class="alert alert-success shadow" role="alert">
                <strong>Nice!</strong> {{topic_cat_eng_message.message}}
            </div>
        </div>
    </div>

    <div class='admin-create-quiz-form' style="margin-top: 25px;">
        <table class="table table-borderless ">
            <thead class="thead-dark sticky-top">
                <tr style="height: 50px">
                    <th class="border-0 text-uppercase small font-weight-bold text-center" style="width: 5%">ID/Priority
                    </th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center">Question prompt</th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center">Image</th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center" style="width: 7%">Display Type
                    </th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center">List of choices/Expected Answer
                    </th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center">Admin notes</th>
                    <th class="border-0 text-uppercase small font-weight-bold text-center" style="width: 5%">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let q of list_of_questions | keyvalue' class="create_form_row" [ngClass]="{ 
                    'border border-success': q.key == 'new_question',
                    'element_hard_deleted': q.value['question_hard_delete'], 
                    'border-top': !q.value['error_bool'],
                    'alert-secondary': q.value['question_soft_delete'] || topic_soft_delete }">
                    <!-- QUESTIONS -->
                    <td *ngIf="!q.value['error_bool']" class='text-center table-row'>
                        <p class="" [ngClass]="{ 'text-success': q.key == 'new_question' }">{{q.key}}</p>
                        <div>
                            <input style="width: 100%; padding: 0px 0px !important" [disabled]="q.value.question_soft_delete || topic_soft_delete" (change)="inputEditor('question_sort', q.key, 'question_sort', null, $event.target.value)" class="edit_sort_value form-control create_form_input_shadow" min=1 max=99 type="number" value=1 title="Set Question Priority"
                                data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom" value="{{list_of_questions[q.key]['question_sort']}}">
                        </div>
                    </td>
                    <td *ngIf="!q.value['error_bool']" style="padding: 0px 3px !important;">
                        <textarea class='textAreaPrompt form-control create_form_input_shadow' [disabled]="q.value.question_soft_delete || topic_soft_delete" (change)="inputEditor('prompt', q.key, 'prompt', null, $event.target.value)" rows=4 name='questionPromts' id='questionPromt_{{q.key}}' value="{{q.value['prompt']}}"></textarea>
                    </td>
                    <td *ngIf="!q.value['error_bool']" class='create_form_img_box' align="center">
                        <div *ngIf="!q.value['image']">
                            <label for="file-upload{{q.key}}" style="width: 100%;" class="custom-file-upload btn btn-sm btn-outline-secondary btn-action-borderless">
                                    &#8682; Upload Picture
                                </label>
                            <input id="file-upload{{q.key}}" type="file"  [disabled]="q.value.question_soft_delete || topic_soft_delete" (change)="inputEditor('img', q.key, 'base64', null, $event.target.files)" accept="image/*" />
                        </div>
                        <div *ngIf="q.value['image']" style="position: relative">
                            <img src="{{q.value['base64']}}" class="img-fluid" alt="Responsive image" (click)="imageZoom(q.key)">
                            <button class="btn btn-sm btn-outline-danger btn-image-remove" [disabled]="q.value.question_soft_delete || topic_soft_delete" (click)="removeImg(q.key)">x</button>
                        </div>
                    </td>
                    <td *ngIf="!q.value['error_bool']">
                        <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons" [hidden]='q.value.question_soft_delete || topic_soft_delete'>
                            <button class="btn btn-sm btn-action-borderless btn-outline-secondary" 
                                [ngClass]="{ 'active': q.value.question_type_id == 2, 'shadow':  q.value.question_type_id == 2}"
                                (click)="displayTypeChanger(q.key, 'textfield input')" 
                                [disabled]="q.value.question_soft_delete" type="radio"  name="displayTypeNew" 
                                id="manual_input" value="textfield input" checked="checked"> Manual Input</button>

                            <button class="btn btn-sm btn-action-borderless btn-outline-secondary" 
                                [ngClass]="{ 'active': q.value.display_type_id == 1 && q.value.question_type_id == 1, 'shadow': q.value.display_type_id == 1 && q.value.question_type_id == 1 }" 
                                (click)="displayTypeChanger(q.key, 'Radio')" 
                                [disabled]="q.value.question_soft_delete"
                                type="radio"  name="displayTypeNew"
                                id="radio " value="Radio"> Radio</button>
                                
                            <!-- <button class="btn btn-sm btn-action-borderless btn-outline-secondary "
                                [disabled]="q.value.question_soft_delete"
                                [ngClass]="{ 'active': q.value.display_type_id == 3 && q.value.question_type_id == 1 }" 
                                (click)="displayTypeChanger( q.key, 'Dropdown')" type="radio" name="displayTypeNew" 
                                id="dropdown" value="Dropdown"> Dropdown</button> -->

                            <button  class="btn btn-sm btn-action-borderless btn-outline-secondary"
                                [ngClass]="{ 'active': q.value.display_type_id == 2 && q.value.question_type_id == 1, 'shadow': q.value.display_type_id == 2 && q.value.question_type_id == 1 }"
                                (click)="displayTypeChanger(q.key, 'Checkbox')"
                                [disabled]="q.value.question_soft_delete" type="radio" name="displayTypeNew " 
                                id="checkbox " value="Checkbox "> Checkbox</button>
                            <button class="btn btn-sm btn-action-borderless btn-outline-secondary"
                                [ngClass]="{ 'active': q.value.question_type_id == 3, 'shadow':q.value.question_type_id == 3 }"
                                (click)="displayTypeChanger( q.key, 'drag_and_drop')"
                                [disabled]="q.value.question_soft_delete" type="radio" name="displayTypeNew" 
                                id="drag_and_drop" value="drag_and_drop">Drag'n'Drop</button>
                        </div>
                        <div class="btn-group-vertical btn-group-toggle bg-secondary text-white create_form_input_shadow" style="text-align: center;" [hidden]='!q.value.question_soft_delete || topic_soft_delete || q.value.question_hard_delete' role="alert">
                            Question is disabled
                        </div>
                        <div class="btn-group-vertical btn-group-toggle bg-danger text-white create_form_input_shadow shadow" style="text-align: center;" [hidden]='!q.value.question_hard_delete' role="alert">
                            Question will be deleted
                        </div>
                    </td>
                    <td *ngIf="!q.value['error_bool']">
                        <!-- NOT SELECTED -->
                        <div *ngIf="!q.value['question_type_description']">
                            <p align="center" class='text-muted'>Please check type of question.</p>
                        </div>
                        <!-- <p>hide text input => {{q.value['question_type_id'] != 2}}</p>
                        <p>hide drag and drop => {{q.value['question_type_id'] != 3}}</p>
                        <p>hide radio => {{q.value['question_type_id'] != 1}} {{q.value['display_type_id'] != 1}}</p>
                        <p></p> -->

                        <!-- MANUAL INPUT -->
                        <div style="padding: 0px 3px !important;" [hidden]="q.value['question_type_id'] != 2">
                            <textarea [disabled]="q.value.question_soft_delete || topic_soft_delete" (change)="inputEditor('expected_response', q.key, 'expected_response', null, $event.target.value)" class='textAreaExpectedAnswer form-control create_form_input_shadow' rows=4 placeholder="Expected answer (optional)" value="{{q.value['expected_response']}}"></textarea>
                        </div>


                        <!-- DRAG AND DROP  -->
                        <div class="input-group mt-2" [hidden]="q.value['question_type_id'] != 3">
                            <div *ngFor="let ans of q.value['answer_prompt'] | keyvalue" class="input-group mt-1" [ngClass]="{
                                'alert-secondary': q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key],
                                'element_hard_deleted': answer_delete_confirm_list[ans.key]
                                }">
                                <input type="text" [disabled]="q.value.question_soft_delete || topic_soft_delete || q.value.answer_soft_delete[ans.key]" (change)="inputEditor('drag_and_drop', q.key, 'answer_prompt', ans.key, $event.target.value)" class="form-control bucket_input_edit bucket_input_edit_question_{{q.key}}" id="bucket_input_edit_{{q.key}}" placeholder='Add a choice' style="padding: 0px; border-radius: 0px;"
                                    value="{{ans.value}}">
                                <select list="bucket_list" [disabled]="q.value.question_soft_delete || topic_soft_delete || q.value.answer_soft_delete[ans.key]" (change)="inputEditor('drag_and_drop', q.key, 'answer_bucket_id', ans.key, $event.target.value)" class="form-control bucket_list_pick" id="bucket_list_pick_{{q.key}}" placeholder='Bucket' style="padding: 0px; border-radius: 0px;">
                                        <!-- <option *ngFor="let b of bucket_list" value="{{b.bucket_id}}"
                                            [selected]="q['answer_bucket_id'][ans.key] == b.bucket_id">
                                            {{b.bucket_name}}</option> -->
                                        <option disabled>
                                            Choose Bucket</option>

                                            <ng-container *ngFor="let b of bucket_list | keyvalue">
                                                    <option *ngIf="!b.value.soft_delete" [selected]="q.value['answer_bucket_id'][ans.key] == b.key" value="{{b.key}}">{{b.value.bucket_name}}</option>
                                                </ng-container>
                                    </select>
                                <div class="input-group-append">
                                        <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-warning"
                                        (click)="inputEditor('answer', q.key, 'answer_hard_delete', ans.key, false)"
                                        *ngIf="answer_delete_confirm_list[ans.key] "
                                        id='buttonRemoveAnswer${i}' type="button">Restore</button>
                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-danger"
                                        (click)="inputEditor('answer', q.key, 'answer_hard_delete', ans.key, true)"
                                        *ngIf="q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key]"
                                        id='buttonRemoveAnswer${i}' type="button">Delete</button>
                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-outline-success buttonRemoveAnswer"
                                        (click)="inputEditor('answer', q.key, 'answer_soft_delete', ans.key, false)"
                                        *ngIf="q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key]"
                                        id='buttonRemoveAnswer${i}' type="button">+</button>
                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-outline-warning buttonRemoveAnswer"
                                        (click)="inputEditor('answer', q.key, 'answer_soft_delete', ans.key, true)"
                                        *ngIf="!q.value['answer_soft_delete'][ans.key]"
                                        id='buttonRemoveAnswer${i}' type="button">-</button>
                                </div>
                            </div>
                            <div class="input-group-prepend">
                                <button 
                                    [disabled]="q.value.question_soft_delete || topic_soft_delete" 
                                    class="btn btn-outline-success bucket_input_add_button btn-action-borderless"
                                    (click)="dragAndDropAdder(q.key)"
                                    style="font-size: smaller; padding: 8px;" 
                                    id='bucket_input_add_button_{{q.key}}' 
                                    type="button">+</button>
                            </div>
                            <input style="border-radius: 0px;" type="text" [disabled]="q.value.question_soft_delete || topic_soft_delete" (change)="inputEditor('drag_and_drop', q.key, 'temp_bucket_storage', 'answer_input', $event.target.value)" class="form-control bucket_input_add" id="bucket_input_add_input_{{q.key}}" placeholder='Add a choice' style="padding: 0px;">
                            <select 
                                [disabled]="q.value.question_soft_delete || topic_soft_delete"  
                                list="bucket_list" 
                                type="text" 
                                (change)="inputEditor('drag_and_drop', q.key, 'temp_bucket_storage', 'bucket_id', $event.target.value)"
                                class="form-control bucket_list_pick" 
                                id="bucket_list_pick_{{q.key}}" 
                                placeholder='Bucket' 
                                style="padding: 0px; border-radius: 0px !important;">
                                    <option style="border-radius: 0px !important;" value="" selected disabled class="text-muted">Choose bucket</option>
                                    <option disabled style="margin-top:8px; border-top:1px solid #666; padding:0; border-radius: 0px !important;">____________</option>
                                    <ng-container *ngFor="let b of bucket_list | keyvalue">
                                        <option *ngIf="!b.value.soft_delete" value="{{b.key}}" style="border-radius: 0px !important;">{{b.value.bucket_name}}</option>
                                    </ng-container>
                                </select>
                        </div>


                        <!-- CHECKBOX  -->
                        <!-- {{q.value['display_type_description'] == 'Checkbox'}} {{q.value['question_type_description'] == 'selected input'}} {{ q.value.display_type_id == 1}} -->
                        
                        <div [hidden]="q.value['question_type_id'] != 1 || q.value['display_type_id'] != 2">
                            <div *ngFor="let ans of q.value['answer_prompt'] | keyvalue" [ngClass]="{
                                'alert-secondary': q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key],
                                'element_hard_deleted': answer_delete_confirm_list[ans.key]
                                }">
                                <div>
                                    <input [disabled]="q.value.question_soft_delete || topic_soft_delete || q.value.answer_soft_delete[ans.key]" class="answerChoice" style="margin: 5px" (change)="inputEditor('answer', q.key, 'answer_correct', ans.key, !q.value['answer_correct'][ans.key])" [checked]=q.value.answer_correct[ans.key] type="checkbox" id="checkbox_{{ans.key}}" title="Select the right answer. You can chose multiple."/>
                                    <label for="checkbox_{{ans.key}}" onclick="return false;" style="margin:0px 0px; width:92%">
                                            <div class="input-group mb-1">
                                                <div class="input-group-prepend" style="width: 15%;">
                                                    <input [disabled]="q.value.question_soft_delete || topic_soft_delete || q.value.answer_soft_delete[ans.key]" type="number"
                                                        (change)="inputEditor('answer', q.key, 'answer_sort', ans.key, $event.target.value)"
                                                        class="answer_order_edit form-control create_form_input_shadow"
                                                        min="1" id="answer_order_edit_{{ans.key}}" style="width: 90%;"
                                                        value="{{q.value['answer_sort'][ans.key] }}"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        title="Set priority of the answer.">
                                                </div>
                                                <input [disabled]="q.value.question_soft_delete || topic_soft_delete || q.value.answer_soft_delete[ans.key]" class="form-control create_form_input_shadow" type="text"
                                                    id="answerId${id}" value="" aria-describedby="basic-addon2"
                                                    value='{{ans.value}}'
                                                    (change)="inputEditor('answer', q.key, 'answer_prompt', ans.key, $event.target.value)" />
                                                <div class="input-group-append">
                                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-warning"
                                                        (click)="inputEditor('answer', q.key, 'answer_hard_delete', ans.key, false)"
                                                        *ngIf="answer_delete_confirm_list[ans.key] "
                                                        id='buttonRemoveAnswer${i}' type="button">Restore</button>
                                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-danger"
                                                        (click)="inputEditor('answer', q.key, 'answer_hard_delete', ans.key, true)"
                                                        *ngIf="q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">Delete</button>
                                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-outline-success buttonRemoveAnswer"
                                                        (click)="inputEditor('answer', q.key, 'answer_soft_delete', ans.key, false)"
                                                        *ngIf="q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">+</button>
                                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-outline-warning buttonRemoveAnswer"
                                                        (click)="inputEditor('answer', q.key, 'answer_soft_delete', ans.key, true)"
                                                        *ngIf="!q.value['answer_soft_delete'][ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">-</button>
                                                </div>
                                            </div>
                                        </label>
                                </div>
                            </div>
                        </div>


                        <!-- DROPDOWN/SELECT -->
                        <!-- <div [hidden]="q.value['question_type_id'] != 1 || q.value['display_type_id'] != 3">
                            <div *ngFor="let ans of q.value['answer_prompt'] | keyvalue" class="custom-radio" [ngClass]="{
                                'alert-secondary': q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key],
                                'element_hard_deleted': answer_delete_confirm_list[ans.key]
                                }">
                                <div>
                                        {{q.value.answer_correct | json}}
                                    <input [disabled]="q.value.question_soft_delete || topic_soft_delete || q.value.answer_soft_delete[ans.key]" 
                                            class="answerChoice" 
                                            style="margin: 5px" 
                                            (change)="inputEditor('answer',q.key, 'answer_correct', ans.key, !q.value['answer_correct'][ans.key])" 
                                            [checked]=q.value.answer_correct[ans.key] 
                                            type="radio" 
                                            id="checkbox_{{ans.key}}" 
                                            title="Select the right answer. You can chose only one answer."
                                            name="radio_answer_for_question_{{q.key}}" />
                                    <label for="checkbox_{{ans.key}}" onclick="return false;" style="margin:0px 0px; width:92%">
                                            <div class="input-group mb-1">
                                                <div class="input-group-prepend" style="width: 15%;">
                                                    <input [disabled]="q.value.question_soft_delete || topic_soft_delete || q.value.answer_soft_delete[ans.key]" 
                                                        type="number"
                                                        (change)="inputEditor('answer',q.key, 'answer_sort', ans.key, $event.target.value)"
                                                        class="form-control answer_order_edit create_form_input_shadow"
                                                        min="1" id="answer_order_edit_{{ans.key}}" style="width: 90%;"
                                                        value="{{q.value['answer_sort'][ans.key] }}"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        title="Set priority of the answer.">
                                                </div>
                                                <input [disabled]="q.value.question_soft_delete || topic_soft_delete || q.value.answer_soft_delete[ans.key]" class="form-control create_form_input_shadow" type="text"
                                                    id="answerId${id}" value="" aria-describedby="basic-addon2"
                                                    value='{{ans.value}}'
                                                    (change)="inputEditor('answer',q.key, 'answer_prompt', ans.key, $event.target.value)" />
                                                <div class="input-group-append">
                                                        <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-warning"
                                                        (click)="inputEditor('answer', q.key, 'answer_hard_delete', ans.key, false)"
                                                        *ngIf="answer_delete_confirm_list[ans.key] "
                                                        id='buttonRemoveAnswer${i}' type="button">Restore</button>
                                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-danger"
                                                        (click)="inputEditor('answer', q.key, 'answer_hard_delete', ans.key, true)"
                                                        *ngIf="q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">Delete</button>
                                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-outline-success buttonRemoveAnswer"
                                                        (click)="inputEditor('answer', q.key, 'answer_soft_delete', ans.key, false)"
                                                        *ngIf="q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">+</button>
                                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-outline-warning buttonRemoveAnswer"
                                                        (click)="inputEditor('answer', q.key, 'answer_soft_delete', ans.key, true)"
                                                        *ngIf="!q.value['answer_soft_delete'][ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">-</button>
                                                </div>
                                            </div>
                                        </label>
                                </div>
                            </div>
                        </div> -->


                        <!-- RADIO -->
                        <div [hidden]="q.value['question_type_id'] != 1 || q.value['display_type_id'] != 1">
                            <div *ngFor="let ans of q.value['answer_prompt'] | keyvalue" class="custom-radio" [ngClass]="{
                                'alert-secondary': q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key],
                                'element_hard_deleted': answer_delete_confirm_list[ans.key]
                                }">
                                <div>
                                    <input [disabled]="q.value.question_soft_delete || topic_soft_delete || q.value.answer_soft_delete[ans.key]" class="answerChoice" style="margin: 5px" (change)="inputEditor('answer',q.key, 'answer_correct', ans.key, !q.value['answer_correct'][ans.key])" [checked]=q.value.answer_correct[ans.key] type="radio" id="checkbox_{{ans.key}}" title="Select the right answer. You can chose only one answer."
                                        name="radio_answer_for_question_{{q.key}}" />
                                    <label for="checkbox_{{ans.key}}" onclick="return false;" style="margin:0px 0px; width:92%">
                                            <div class="input-group mb-1">
                                                <div class="input-group-prepend" style="width: 15%;">
                                                    <input [disabled]="q.value.question_soft_delete || topic_soft_delete || q.value.answer_soft_delete[ans.key]" type="number"
                                                        (change)="inputEditor('answer',q.key, 'answer_sort', ans.key, $event.target.value)"
                                                        class="form-control answer_order_edit create_form_input_shadow"
                                                        min="1" id="answer_order_edit_{{ans.key}}" style="width: 90%;"
                                                        value="{{q.value['answer_sort'][ans.key] }}"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        title="Set priority of the answer.">
                                                </div>
                                                <input [disabled]="q.value.question_soft_delete || topic_soft_delete || q.value.answer_soft_delete[ans.key]" class="form-control create_form_input_shadow" type="text"
                                                    id="answerId${id}" value="" aria-describedby="basic-addon2"
                                                    value='{{ans.value}}'
                                                    (change)="inputEditor('answer',q.key, 'answer_prompt', ans.key, $event.target.value)" />
                                                <div class="input-group-append">
                                                        <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-warning"
                                                        (click)="inputEditor('answer', q.key, 'answer_hard_delete', ans.key, false)"
                                                        *ngIf="answer_delete_confirm_list[ans.key] "
                                                        id='buttonRemoveAnswer${i}' type="button">Restore</button>
                                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-danger"
                                                        (click)="inputEditor('answer', q.key, 'answer_hard_delete', ans.key, true)"
                                                        *ngIf="q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">Delete</button>
                                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-outline-success buttonRemoveAnswer"
                                                        (click)="inputEditor('answer', q.key, 'answer_soft_delete', ans.key, false)"
                                                        *ngIf="q.value['answer_soft_delete'][ans.key] && !answer_delete_confirm_list[ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">+</button>
                                                    <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-outline-warning buttonRemoveAnswer"
                                                        (click)="inputEditor('answer', q.key, 'answer_soft_delete', ans.key, true)"
                                                        *ngIf="!q.value['answer_soft_delete'][ans.key]"
                                                        id='buttonRemoveAnswer${i}' type="button">-</button>
                                                </div>
                                            </div>
                                        </label>
                                </div>
                            </div>
                        </div>


                        <!-- ADD ANSWER FORM -->
                        <div style="padding-right: 3px !important;"
                            class="input-group mb-3 create_form_input_shadow" 
                            [hidden]="q.value['question_type_id'] != 1">
                            <div class="input-group-prepend" style="width: 25px">
                               
                                <button [disabled]="q.value.question_soft_delete || topic_soft_delete" class="btn btn-success create_form_answer_add btn-action-borderless" id='buttonAddNewAnswer_{{q.key}}' type="button" (click)="addAnswer(q.key)">+</button>
                            </div>
                            <input [disabled]="q.value.question_soft_delete || topic_soft_delete" type="text" class="form-control create_form_input_shadowless  edit_quiz_input_text_add" id="newAnswerFor_{{q.key}}" placeholder='Add an answer' aria-describedby="basic-addon2">
                        </div>

                    </td>

                    <!-- ADMIN NOTES -->
                    <td *ngIf="!q.value['error_bool']">
                        <div class="input-group">
                            <input [disabled]="q.value.question_soft_delete || topic_soft_delete " 
                                class="create_form_input_shadow form-control " 
                                value="{{list_of_questions[q.key]['training_url']}}" 
                                type="text" placeholder="Confluence link (optional)" 
                                (change)="inputEditor(null, q.key, 'training_url', null, $event.target.value)"
                                style="border-radius: 0px"
                                >
                            <div class="input-group-append">
                                <button [disabled]="q.value.question_soft_delete || topic_soft_delete" 
                                        type='button' 
                                        class='buttonConfluenceLink btn btn-xs  btn-outline-secondary' 
                                        id='buttonConfluenceLinkForQuestion${id}' 
                                        (click)="checkModuleLink(q.key)"
                                        style="border-radius: 0px"
                                        >Check</button>
                            </div>
                        </div>
                        <div id='module_field${id}'>
                            <input [disabled]="q.value.question_soft_delete || topic_soft_delete" class="create_form_input_shadow form-control" value="{{list_of_questions[q.key]['training_module']}}" (change)="inputEditor('training_module', q.key,'training_module', null, $event.target.value)" id='editModuleForQuestionId${id}' type="text" placeholder="Module note (optional)">
                        </div>
                        <div class="input-group  mb-3" style="width: 185px;">
                            <div class="input-group-prepend input-group-text bg-secondary text-white">
                                    Question value
                            </div>
                            <input [disabled]="q.value.question_soft_delete || topic_soft_delete" class="form-control create_form_input_shadow"  value="{{list_of_questions[q.key]['point_value']}}"   (change)="inputEditor('point_value', q.key,'point_value', null, $event.target.value)" type="number" min="1" max="10" style="padding: 0px 5px;">
                        </div>
                    </td>

                    <!-- ACTION BUTTONS -->
                    <td style='text-align: center' *ngIf="!q.value['error_bool']">
                        <div [hidden]="topic_soft_delete">
                            <!-- <button class='btn btn-outline-primary btn-action-borderless' disabled style="width: 100%">🔍 Preview</button> -->
                            <button *ngIf="q.key == 'new_question'" class='btn btn-outline-success btn-action-borderless' (click)="addQuestion()" style="width: 100%">+ Add</button>
                            <button *ngIf="q.key != 'new_question' && q.value['question_soft_delete'] && !list_of_new_questions[q.key] &&  !q.value['question_hard_delete']" class='btn btn-outline-success btn-action-borderless' (click)="enableQuestion(q.key)" style="width: 100%">Enable</button>
                            <button *ngIf="q.key != 'new_question' &&  !q.value['question_hard_delete'] && q.value['question_soft_delete'] || list_of_new_questions[q.key]" class='btn btn-danger btn-action-borderless' (click)="removeQuestion(q.key)" style="width: 100%">Remove</button>
                            <button *ngIf="q.key != 'new_question' && !q.value['question_soft_delete'] && !list_of_new_questions[q.key]" class='btn btn-outline-warning btn-action-borderless' (click)="disableQuestion(q.key)" style="width: 100%">Disable</button>
                           
                            <button *ngIf="q.key != 'new_question' && q.value['question_hard_delete']" class='btn btn-warning btn-action-borderless' (click)="restoreQuestion(q.key)" style="width: 100%">Restore</button>

                        </div>
                    </td>

                    <!-- ERROR -->
                    <td colspan="7" *ngIf="q.value['error_bool']" style="padding: 10px 10px !important">
                        <div class="alert alert-warning shadow" role="alert" style="width: 500px; margin: 0px auto;">
                            <button type="button" class="close" (click)="errorRemoveById(q.key)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <p class="text-center "><strong>{{q.value['target']}} error(s):</strong></p>
                           <p *ngFor="let error of q.value['errors'] | keyvalue" class="text-center" style="margin-bottom: 0px !important">{{error.value}}</p>
                        </div>
                    </td>


                </tr>
                <!-- <tr *ngIf="list_of_questions.new_question_error" class="create_form_row">
                    <td colspan="7" (click)="errorHandlerRemover('new_question')" class="errorHandlerBox">
                        <div class="alert alert-danger shadow errorHandler" role="alert">
                            <p class="text-center" *ngFor="let el of list_of_questions.new_question_error.errors | keyvalue">
                                {{el.value}}
                            </p>
                        </div>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <div [hidden]="!submit_ready" class="alert alert-success text-center shadow" style="width: 500px; margin: 0px auto;" role="alert">
            <strong>All questions are good!</strong>
        </div>
        <div class="d-flex justify-content-center" *ngIf="!submit_status.display" style="margin-top: 50px; margin-bottom: 100px;">
            <button [hidden]="submit_ready" class="btn btn-lg btn-info btn-action-borderless shadow" (click)="validateQuiz()">Validate</button>
            <div [hidden]="!submit_ready" class="shadow btn-group btn-group-lg " role="group">
                <button  class="btn btn-lg btn-success" (click)="submitQuiz()">Submit</button>
                <button  class="btn btn-lg btn-warning" (click)="cancelSubmitQuiz()">Cancel</button>
            </div>
        </div>

        <div class="d-flex justify-content-center" *ngIf="submit_status.display && submit_status.status == 'success'" style="margin-top: 50px; margin-bottom: 100px;">
            <div class="alert alert-success shadow" role="alert" style="display: flex; align-items: center; flex-direction: column;">
                <h4 class="alert-heading">Well done!</h4>
                You successfully edited the quiz.
                <br>
                <a [hidden]="submit_ready" class="btn btn-outline-light btn-action-borderless " (click)="goBack()">Click here to go back to the admin portal</a>
            </div>
        </div>

        <div class="d-flex justify-content-center" *ngIf="submit_status.display && submit_status.status == 'fail'" style="margin-top: 50px; margin-bottom: 100px;">
            <div class="alert alert-error shadow" role="alert" style="display: flex; align-items: center; flex-direction: column;">
                <h4 class="alert-heading">Quiz updating failed</h4>
                Something went wrong on the backend.
                {{submit_status.message}}
                <a [hidden]="submit_ready" class="btn btn-link btn-action-borderless " (click)="goBack()">Click here to go back to the admin portal</a>
            </div>
        </div>
        <!-- <button class="btn btn-lg shadow" (click)="checkState()">Check State</button> -->
        
        
    </div>
</div>

<div *ngIf="!list_of_questions_bool" class=" loading_box ">
    <img class="loading_box-ing " src='./../../assets/loading.gif'>
</div>